[2016-03-17 13:28] kchodorow opened #1 "mcs-finding should be more robust"
See http://ci.bazel.io/job/rules_dotnet/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/3/console:

[code]

Right now /usr/local/bin/mcs is hardcoded and I'm not sure it's included in the sandbox.

[2016-03-29 01:51] davidzchen opened #3 "Runfiles tree not properly constructed for csharp_test"
[code]

[2016-04-01 09:33] damienmg commented on #1
What is the status of thhis?

[2016-04-01 10:38] davidzchen commented on #1
I opened a PR for this (#4). Can you take a look?

[2016-04-01 10:55] damienmg commented on #1
Oops sorry I have missed that mail. It's kind of hard to keep track of things on github...

[2016-04-01 11:25] damienmg commented on #1
Error:

Cannot find %s. Either correct your path or set the %s environment variable. and referenced by '//external:csc'.

Actually, can't we just the compilers from the net?

[2016-04-03 03:46] zaphar commented on #1
The correct long term fix is to get the mono distribution as an external repository. But this is non-trivial since they don't ship them as tarballs or zip files for anything. I've got it on my todo list to tackle at some point but haven't gotten around to it yet.

[2016-04-03 08:58] davidzchen commented on #1
@zaphar Agreed. Thanks for looking into it! That would be great to have.

[2016-04-03 09:18] damienmg commented on #1
Yes. In the time between testing the dotnet rules fails even when installed the dotnet package on ubuntu...

[2016-04-04 14:58] zaphar opened #6 "The csharp_repositories functions reference to dotnet/nunit.BUILD doesn't work"
It works if you use it inside this repositories workspace but if you include this repository in a different workspace it can't find the build file. It looks for it in the current workspace instead.

/private/var/tmp/_bazel_jwall/a4f05aced329c5d1ca55a18062777a02/external/io_bazel_rules_dotnet/bazel-bazel_rules_dotnet/examples/example_test/BUILD:3:1: every rule of type csharp_nunit_test implicitly d

[2016-04-04 15:22] zaphar commented on #1
For future reference:

This is how the mono project gets stuff from binary package releases for mac unpacked on other platforms:

https://github.com/mono/release/blob/master/defs/managed-components#L52

We may be able to use a similar mechanism ourselves.

[2016-04-04 15:59] kchodorow commented on #6
This is a known issue which has a fix at head (see https://github.com/bazelbuild/bazel/issues/855). The csharp rules should be updated to refer to nunit.BUILD by label, btu if you're using an older version of Bazel, you'll need to just copy the nunit.BUILD file to your current repository.

[2016-04-04 16:00] kchodorow commented on #1
https://github.com/bazelbuild/rules_dotnet/pull/7 should fix some of the issues mentioned.

[2016-04-04 18:55] #1 closed

[2016-04-04 19:34] davidzchen opened #9 "Set up Continuous Integration for PR verification"
We should set up CI to run for each pull request.

[2016-04-04 20:25] damienmg commented on #9
We have CI, it's broken. See http://ci.bazel.io/job/rules_dotnet/ (even on the VM in which I installed mono).

I will work to add PR verification for all job on ci.bazel.io this quarter (among other things).

[2016-04-04 21:38] davidzchen commented on #9
Got it. I mainly wanted to have it run for each PR and to add a badge to the README. Do you think it would be worth it to set up something on Travis similar to what is set up for [bazelbuild/rules_scala](https://travis-ci.org/bazelbuild/rules_scala) in the meantime?

[2016-04-04 21:41] davidzchen commented on #9
Updated issue title for clarity.

[2016-04-04 22:37] zaphar commented on #6
Okay so I just tried using a fully qualified label with head bazel and I still get an error:

/private/var/tmp/_bazel_jwall/a4f05aced329c5d1ca55a18062777a02/external/io_bazel_rules_dotnet/examples/example_test/BUILD:3:1: every rule of type csharp_nunit_test implicitly depends upon the target '@nunit//:nunit_framework', but this target could not be found because of: no such package '@nunit//': Unab

[2016-04-04 22:42] zaphar commented on #6
never mind. found the error.

[2016-04-04 22:50] zaphar commented on #6
@davidzchen Looks like it has to be a fully qualified name to work. so `//dotnet:nunit.BUILD` won't always work but `@io_bazel_rules_dotnet//dotnet:nunit.BUILD` will.

[2016-04-05 00:02] davidzchen commented on #6
The problem with fully-qualifying the label that way is that it would only work if there is an external repository called `io_bazel_rules_dotnet`, in which chase running the examples from within the `rules_dotnet` repository would not work.

IIUC, [this recent change](https://github.com/bazelbuild/bazel/commit/6f15335deac0c04cfae11623efbe745f11e177ff) by @kchodorow should fix this issue so that re

[2016-04-05 02:19] zaphar commented on #6
To verify I just git pulled and rebuilt bazel from head and then tested again. I still get this error:

/private/var/tmp/_bazel_jwall/a4f05aced329c5d1ca55a18062777a02/external/io_bazel_rules_dotnet/examples/example_test/BUILD:3:1: every rule of type csharp_nunit_test implicitly depends upon the target '@nunit//:nunit_framework', but this target could not be found because of: no such package '@nuni

[2016-04-05 02:20] zaphar commented on #6
My bazel is on revision: e25642a2bcb68d553fe56b0c3d6262544b15a870

[2016-04-05 08:12] damienmg commented on #9
could make sense why not but I'd rather get it working on ci.bazel.io because we test for new release of Bazel AND we do test with sandboxing and non-batch mode.

[2016-04-13 13:24] zaphar commented on #9
The bazel ci would make me feel better about submitted changes. How does one configure it? I'm looking at the ci site and not seeing anything obvious.

[2016-04-15 00:02] zaphar commented on #6
Hrmmm So after looking at the advice given to the Closure rules I think the fix is to do `str(Label("//dotnet:nunit.BUILD"))` instead of just `"//dotnet:nunit.BUILD"` Which is a little janky but works.

[2016-04-15 00:05] #6 closed

[2016-04-15 00:43] #3 closed

[2016-04-15 01:38] zaphar opened #11 "bazel run for binary targets does not work"
`bazel run examples/example_binary:hello` reports an error finding the path for mono.

`private/var/tmp/_bazel_jwall/a4f05aced329c5d1ca55a18062777a02/csharp_tests/bazel-out/local-fastbuild/bin/examples/example_binary/hello: line 12: external/local_config_csharp/mono: No such file or directory`

This is because the actual path for the mono executable is `csharp_tests/external/local_config_csharp/mo

[2016-04-16 03:00] #11 closed

[2016-04-16 03:03] zaphar opened #12 "Generate Visual Studio csproj files for csharp code."
It would be nice if a csharp_binary or csharp_library target could be used to generate csprob files for the IDE users out there. It would go a long way to making this usable by MonoDevelop users.

[2016-04-17 07:41] davidzchen commented on #12
+cc @dslomov

This would be an excellent use case for Skylark Aspects.

[2016-04-18 11:41] damienmg opened #13 "Fix ci.bazel.io"
dotnet build have been red from the begining because there is no mono on the machine. Even installing mono did not fix the build.

Can someone have a real look at this?

/cc @kchodorow @davidzchen @zaphar

[2016-04-18 13:57] zaphar commented on #13
I would but I don't think I have the necessary access.
On Apr 18, 2016 6:41 AM, "Damien Martin-Guillerez" <notifications@github.com>
wrote:

[2016-04-18 13:59] damienmg commented on #13
The view should be public:
http://ci.bazel.io/job/rules_dotnet/

you can click around. As a googler you also have the possibility to run a build though it won't help you because you have to merge the change before.

I don't think installing more stuff on the slaves will helps but for reference the source code is at http://bazel.googlesource.com/continuous-integration

[2016-04-18 14:07] zaphar commented on #13
I'm actually not a Googler currently :-). I used to be.
On Apr 18, 2016 08:59, "Damien Martin-Guillerez" <notifications@github.com>
wrote:

[2016-04-21 13:48] damienmg commented on #13
ping?

[2016-04-21 14:02] zaphar commented on #13
So I looked at the build that isn't failing due to missing mono. It seems
to be failing because it can't find the minor build file which I think we
have already fixed. Are we sure it's using the latest version of bazel?
On Apr 21, 2016 08:48, "Damien Martin-Guillerez" <notifications@github.com>
wrote:

[2016-04-21 14:04] zaphar commented on #13
That was nunit not minor build file. Stupid phone
On Apr 21, 2016 09:02, "Jeremy Wall" <jeremy@marzhillstudios.com> wrote:

[2016-04-21 14:09] damienmg commented on #13
This is testing against bazel 0.2.1 (now will be testing against bazel 0.2.2) and HEAD

[2016-04-21 14:12] damienmg commented on #13
0.2.1 is broken because of the Label syntax which is not yet available (should be fixed on next push).

http://ci.bazel.io/job/rules_dotnet/BAZEL_VERSION=HEAD,PLATFORM_NAME=linux-x86_64/53/console is the actual problem:
[code]

[2016-04-21 14:13] damienmg commented on #13
(note that mono is not installed on those machine, I did a test where I installed mono on one of the slave but it did not solve the problem).

If mono is an absolute dependency, maybe we should vendor it on GCS

[2016-04-21 15:51] zaphar commented on #13
Until I work out the mono package as external repository it is a hard
dependency.
On Apr 21, 2016 09:13, "Damien Martin-Guillerez" <notifications@github.com>
wrote:

[2016-04-27 09:30] damienmg commented on #13
Sorry forgot to answer, we are going to deactivate ci coverage for it, please ping back when you figure out a good way to do it.

[2016-04-28 00:34] zaphar opened #14 "Pull in mono as an external workspace."
This is going to require platform specific repositories probably.

On OS-X we can probably reuse some of this code: https://github.com/mono/release/blob/master/defs/managed-components#L52

For Linux we can probably unpack one of the distro packages.

For MS I'm not sure what we should do but that can probably wait till bazel windows support is stabilized.

[2016-05-12 17:59] damienmg commented on #13
I reactivated the job only for darwin but it still fails:

[code]

[2016-05-12 18:32] damienmg commented on #13
Now it is green. So only linux is left :+1

[2016-05-12 18:48] zaphar commented on #13
Sorry about that I forgot to modify the workspace file there.
On May 12, 2016 12:59 PM, "Damien Martin-Guillerez" <
notifications@github.com> wrote:

[2016-05-12 18:57] damienmg commented on #13
No problem, it was easy to fix :)

[2016-07-01 19:51] zaphar opened #18 "Support nuget packages with multiple target frameworks."
Some nuget packages support multiple frameworks using the following convention in their directory structure.

lib/net{40,45}/...

Unfortunately the nuget package manager doesn't really support handling this for you. Which means we need to intelligently detect when there is a net\* directory and handle it correctly. If we don't then the dotnet compiler will complain about multiple definitions for s

[2016-09-07 20:50] damienmg commented on #9
This is resolved.

[2016-09-07 20:50] #9 closed

[2016-09-07 20:51] damienmg commented on #13
Closing this one because there is already #14

[2016-09-07 20:51] #13 closed

[2016-09-20 00:30] pcj opened #23 "nunit missing, nuget_package failing"
On an osx machine without mono, `csharp_repositories()` did install mono, but did not install nunit (or at least it did not on my machine).  As nuget_package does not check for return_code, failure is silent.  Also, since `glob(["**/*.dll"])` in a nuget BUILD file happily accepts no matching files, adding a dependency on a nuget_package is also a silent failure.

[2016-09-20 00:33] pcj commented on #23
Return code can be checked by:

[code]

[2016-09-20 00:51] pcj opened #24 "nunit not executable on osx"
http://bazel-mirror.storage.googleapis.com/github.com/nunit/nunitv2/releases/download/2.6.4/NUnit-2.6.4.zip has ambiguous architecture.  Looks like a windows binary package?  I had expected it to be osx, maybe I missed it in the docs...

[code]

[2016-09-20 02:20] pcj commented on #24
Meant nuget not nunit, closing this.

[2016-09-20 02:20] #24 closed

[2016-09-20 14:48] pcj opened #26 "bazel run csharp_binary: mono not found"
Running a csharp_binary fails to find mono:

[code]

[code]

[2016-09-20 23:17] pcj opened #28 "csharp_nunit_test fails if no dependent csharp_library rule."
This is fixed on https://github.com/pcj/rules_dotnet/tree/fix_nunit_extra_refs but will await resolution of #27 before sending another PR.

[2016-09-29 01:53] #26 closed

[2016-09-30 04:39] #23 closed

[2016-10-06 18:52] pcj commented on #28
Fixed by https://github.com/bazelbuild/rules_dotnet/pull/30.

[2016-10-06 18:52] #28 closed

[2016-10-12 15:25] pcj opened #33 "Release 0.0.3"
With the cfg parameter update, consider cutting 0.0.3 release as this requires bazel 0.3.1 or above.

[2016-10-27 18:45] iainmerrick opened #34 "csharp_binary gives "Too many levels of symbolic links" error on OS X"
I'm having trouble getting the csharp_binary rule to work. I'm on OS X 10.12.

The rule seems to build OK, but when I run it I get this error:

[code]

The rule looks like this:

[code]

I've tried both `use_local_mono = True` and `False` but that doesn't seem to make a difference.

Full code is here: https://github.com/iainmerrick/ink

Further discussion on the Bazel mailing list: https://groups.

[2016-10-27 22:26] zaphar commented on #34
Interesting, if you execute the compiled assembly manually does it work?

On Oct 27, 2016 13:45, "Iain Merrick" <notifications@github.com> wrote:

[2016-10-28 01:12] iainmerrick commented on #34
Running `./bazel-bin/inklecate` gives the same error.

Running `mono bazel-bin/inklecate.exe` works.

[2016-10-28 01:17] iainmerrick commented on #34
Aha! Taking a closer look at the generated `inklecate` script, this looks bad:

    bazel-bin/inklecate.runfiles/__main__$ ls -a -l
    total 16
    drwxr-xr-x  5 iain  wheel  170 27 Oct 20:11 .
    drwxr-xr-x  5 iain  wheel  170 27 Oct 20:11 ..
    drwxr-xr-x  3 iain  wheel  102 27 Oct 20:11 external
    lrwxr-xr-x  1 iain  wheel  114 27 Oct 20:11 inklecate -> /private/var/tmp/_bazel_iain/3748381

[2016-10-28 01:19] zaphar commented on #34
Yeah, sounds like the script generation is wrong there.

I'm not sure when I'll be able to tackle this. If anyone wants to beat me
to it please do.

On Oct 27, 2016 20:17, "Iain Merrick" <notifications@github.com> wrote:

[2016-10-28 01:29] iainmerrick commented on #34
If you give me a rough idea of where to start, I can take a crack at it!

[2016-10-28 02:00] pcj commented on #34
As workaround try redoing your BUILD files such that you're not globbing everything from the root of your project, i.e. create an `ink-engine-runtime/BUILD` and `inklecate/BUILD`.

[2016-10-28 02:03] zaphar commented on #34
The script template is at
https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/csharp.bzl#L128

The function that actually creates the run script is at:
https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/csharp.bzl#L128

That is where I would start investigating.

[2016-10-28 17:30] iainmerrick commented on #34
Thanks! Just sent a pull request which should fix this.

As pcj suggested, I only hit this issue because my rules happened to be at the top level. Still seems worth fixing — working at the top level was the simplest way to compile this existing Xamarin project without modifying the code at all.

[2016-11-01 21:07] iainmerrick commented on #34
Is anyone available to review my patch?

[2016-11-02 17:21] iainmerrick opened #36 "csharp_binary can't be used as a Bazel tool because working directory is changed"
The launcher script for a `csharp_binary` currently cd's into its runfiles directory. But this means it can't be used as a tool (i.e. in a `genrule`) because Bazel passes file arguments as relative paths. Console output works, but named `srcs` and `outs` don't.

The current working directory needs to be preserved when running a `csharp_binary` as a tool.

[2016-11-03 15:03] iainmerrick commented on #34
Verified

[2016-11-03 15:03] #34 closed

[2016-11-03 15:52] iainmerrick commented on #36
Verified (just need to build the genrules under //examples/example_tool)

[2016-11-03 15:52] #36 closed

[2016-11-12 05:57] colemickens opened #39 "Support .NET Core 2.0"
This seems to be full .NET Framework with Mono.

The future of .NET seems to be .NET Core. Is there an intent to support .NET Core?

[2016-11-12 12:59] zaphar commented on #39
There is. Just as soon as I free time up to work on it. Or someone beats me
to it. :-)

On Nov 11, 2016 23:57, "Cole Mickens" <notifications@github.com> wrote:

[2016-12-02 14:11] zaphar commented on #39
I'll also note that currently the .Net Core tooling is in a considerable state of flux so I'm also sort of waiting for it to settle down a bit so the target isn't moving so much.

[2017-02-17 17:59] mattmoor commented on #33
@steren @damienmg @kchodorow The [setup](https://github.com/bazelbuild/rules_dotnet#setup) instructions actually reference a 0.0.3 release tag, which doesn't exist.

[2017-04-25 14:19] vladmos opened #43 "Recent commit broke our CI tests"
The commit 30c1c31eff6a795b3e17ceb475439d326564ef19 broke our CI tests for both HEAD and latest versions of Bazel.

http://ci.bazel.io/job/rules_dotnet/

[2017-05-02 05:54] damienmg commented on #43
/cc @pcj @zaphar

[2017-05-02 07:45] pcj commented on #43
@zaphar I've been looking into this for a couple of days now.  I've been trying to imbue rules_dotnet with a travis-ci script that both executes and demonstrates that the latest commit is working....  so far  unable to demonstrate a functional outcome.  Seeing segmentation faults that are hard/slow to debug...

Perhaps the best thing is to [rollback #42](https://help.github.com/articles/reverting-

[2017-05-02 07:52] damienmg commented on #43
Travis might not have sandboxing enabled, which might be the issue (just a guess).

[2017-05-02 11:44] zaphar commented on #43
I'll see if I can roll back later today.

On May 2, 2017 2:52 AM, "Damien Martin-Guillerez" <notifications@github.com>
wrote:

[2017-05-04 20:57] damienmg commented on #43
Do you want me to rollback the change?

[2017-05-04 21:07] zaphar commented on #43
Yeah if you don't mind. My availability due to work has shrunk drastically
of late.

On May 4, 2017 3:57 PM, "Damien Martin-Guillerez" <notifications@github.com>
wrote:

[2017-05-04 21:09] damienmg commented on #43
Sure I'll do it

[2017-05-04 21:13] #43 closed

[2017-07-05 18:32] salrashid123 commented on #39
coreclr has settled down a bit (w'ere at [2.x.x+ releases now](https://github.com/dotnet/coreclr/releases) )

Wanted to gauge if anyone is working on this now (or plan to).  If there's a branch on this or work in progress, i can help with that too.

[2017-07-08 13:57] zaphar commented on #39
Hi

This was in my plans but I'm doing mostly java right now in the day job and
finding it difficult to get any time to work on this. As a result I don't
think any progress has been made toward coreclr support. I'm wholly
supportive of someone else tackling it. I'd be happy to lend whatever help
I can as time permits.

On Wed, Jul 5, 2017 at 1:32 PM, salrashid123 <notifications@github.com>
wrote:

[2017-07-10 17:20] salrashid123 commented on #39
hi-
i've only started using bazel last 2 weeks (for python_rules, which is easy)...writing a new language binding is really daunting but i'll try to make progress (there's a  lot of bazel internals i need to account for; its not just using the prepackaged python_rules!

I'll spend sometime reading up on this more and also post a question to the bazel users googegroup for assistance as i fear i'm m

[2017-08-15 02:06] colemickens commented on #39
I suppose it makes sense to target .NET Core 2.0 now that it is out. @salrashid123 have you had much success so far?

[2017-08-15 14:50] salrashid123 commented on #39
I had mixed success (mostly failure) and got a __basic__ build working (just the helloworld, no project-references)...

...but I can't run it because the coreCLR binary requires me to declare a lot of dependencies (eg. [libhostfxr.so](https://github.com/salrashid123/rules_dotnet/blob/master/dotnet/csharp.bzl#L48) ) and I don't know how to do that in a general way  (thats  principally stems from me

[2018-01-15 18:56] j3parker opened #51 "RFC: Design for compiling resx via resgen"
## Background

C# DLLs can have embedded resources (files that are stuffed into the DLL). In msbuild/csproj when you embed a resources with file type .resx it is first passed to `resgen.exe` along with all the referenced DLLs to be compiled into a .resource file (which is then embedded in the DLL).

Currently, the rules_dotnet rules accept `.resx` files (along with `.cs` files) in the `srcs` attri

[2018-01-25 09:36] jormundgand opened #53 "Instructions for getting started is broken"
I've noticed the following issues with the instructions in the README.md to get started:

* The tag 0.0.3 doesn't exist -- using it makes bazel complain about it (as it should)
* Replacing tag 0.0.3 with the latest commit doesn't do anything; the result is that csharp_* rules are not recognized and cannot be used.
* Adding the nuget_package breaks the file.

If the nuget_package part is meant as a

[2018-01-25 13:47] j3parker commented on #53
### Solutions for the things you mentioned
Issue #33 raised the problem with the 0.0.3 tag 2 years ago :(

To pull in what is currently master, use this in your workspace:

[code]

Just guessing but you might have the wrong `strip_prefix`?

A "real" example of a `nuget_package` is:

[code]

You can then use it by adding a `@Newtonsoft.Json//:dylibs` to your `deps`. This isn't a great design, you c

[2018-01-25 14:09] j3parker opened #54 "Windows/.NET Framework support"
This is a tracking issue to document the work remaining to support Windows and .NET Framework in these rules.

High-priority:

- [ ] Cross-platform flags: #49
- [ ] [Toolchain](https://docs.bazel.build/versions/master/toolchains.html)ify the rules
- [ ] Vendor the compiler (likely via [Microsoft.Net.Compilers](https://www.nuget.org/packages/Microsoft.Net.Compilers))
- [ ] Improve the NuGet package

[2018-01-25 14:16] j3parker commented on #53
Ok I changed the `nuget_package` examples a bit. I didn't change the 0.0.3 release version though.

[2018-01-25 22:29] cdelguercio commented on #54
Does including references like System.Runtime.Serialization fall under this issue?

[2018-01-25 22:43] j3parker commented on #54
Yes.

In our Windows fork we "import" the local .NET framework within our `WORKSPACE` and we reference a DLL like that with a label like `@NETFramework//:System.Runtime.Serialization` (this is prototype-level stuff though.)

It's worth spending some time figuring out how to best model this in Bazel (presumably with toolchains.) It's very common to target multiple versions of the .NET framework in

[2018-01-26 08:52] jormundgand commented on #53
The one thing that really bothered me was the reference to the 0.0.3 tag -- people new to bazel (including myself) will be very frustrated by this not working. The nuget example isn't really necessary and having it in the "how to get started" doesn't help.

Bazel can be very hard to get into already, especially for someone like me who prefers plain old Make because of it's simplicity. Adding yet a

[2018-02-01 18:15] jared-bott opened #56 "Is It Possible To Use On Windows?"
I've been trying to use bazel to build C# libraries on Windows 10, with no success. I'm trying to build rules_dotnet as an initial test.

Initially, bazel says that mono isn't supported on Windows 10. Following that, I set an environment variable `RULES_DOTNET_USE_LOCAL_MONO` equal to 1. After that, bazel said that `MONO` needed to be set; after reading through `csharp.bzl`, I set `MONO` to the pa

[2018-02-01 18:44] j3parker commented on #56
Did it create the symlink `external/mono/bin/mcs`? Where does it point to if yes?

Rather than using `RULES_DOTNET_USE_LOCAL_MONO` try setting the argument to `True` in the call to `csharp_repositories`. This is a little less annoying than an environment variable (Bazel runs a background process, I'm guessing its environment variables are used, so if you're attempting to change it by tweaking the

[2018-03-05 16:33] jawsthegame opened #57 "The type initializer for 'NuGet.ProxyCache' threw an exception"
Getting this error when trying to use RestSharp (or any library) from NuGet.
Here is my nuget_package:

[code]

And here is the error:
[code]

Any thoughts here? I also get that same error when I run nuget.exe directly. I installed mono on ubuntu by installing the default `mono_devel` package.

[2018-03-05 18:06] j3parker commented on #57
Can you provide the output of `mono --version`?

[2018-03-05 19:09] jawsthegame commented on #57
Mono JIT compiler version 4.2.1 (Debian 4.2.1.102+dfsg2-7ubuntu4)

HTTP_PROXY and NO_PROXY are not defined.

[2018-03-05 19:12] j3parker commented on #57
Could you check `http_proxy` and `no_proxy` (lower case)?

[2018-03-05 19:17] jawsthegame commented on #57
those are also undefined

[2018-03-05 20:47] jawsthegame commented on #57
that `rest_sharp_102_7_0_0` target is defined in my workspace, so here is the output when building just `:dylibs` for that package:

[code]

[2018-03-06 16:18] j3parker commented on #57
Hm. I'd expect the error is coming from [here](https://github.com/NuGet/NuGet.Client/blob/4cccb13833ad29d6a0bcff055460d964f1b49cfe/src/NuGet.Core/NuGet.Configuration/Proxy/ProxyCache.cs#L21) (the type initializer is the static constructor/static initializers for this type.)

You mentioned the same thing happens if you invoke nuget manually. Is there any extra error output? E.g. which exception was

[2018-03-06 22:19] jawsthegame commented on #57
Unfortunately --debug doesn't give any additional output.

[2018-03-06 22:50] zaphar commented on #57
If you get the same error when running nuget manually then this may not be
a problem with the Bazel rules.

You may want to ask the Nuget developers and check if there is a known
issue with Nuget that you've run into.

On Mar 6, 2018 16:19, "Tom Fleischer" <notifications@github.com> wrote:

Unfortunately --debug doesn't give any additional output.

—
You are receiving this because you are subscrib

[2018-03-06 23:28] jawsthegame commented on #57
Fair enough.

[2018-03-16 17:26] lx223 opened #58 "Adding reference to System.Data.dll"
Hi there, I might have missed something somewhere. How could I easily add assemblies bundled with mono easily, such as `System.Data.dll`?

[2018-03-16 17:35] j3parker commented on #58
You can use the [`dll_import`](https://github.com/bazelbuild/rules_dotnet#dll_import) rule to bring in external DLLs.

Where I work, on Windows, we include this in the `csharp_respostories` workspace macro:

[code]

and the contents of that build file are

[code]

This gives us labels like `NETFramework//:System.Data` that we can add to `deps`. It's not perfect but it's working for us for now.

[2018-03-16 17:44] j3parker commented on #58
I suppose I should add that wiring stuff up approximately like this in Bazel is "correct" because Bazel caches based on the content of all the inputs, so you want to teach Bazel about each of those System DLLs. This matters if you upgrade mono (that should cause things to rebuild) or if you share a cache across multiple machines.

The reason that isn't done automatically by these rules yet is that

[2018-04-12 12:13] igorgatis opened #59 "Support for XUnit"
Any plans to support xunit?

[2018-04-23 23:48] zaphar commented on #59
Hi, @igorgatis,

I think we would happily accept pull requests to add it. I'm currently only able to devote time for reviewing PR's right now due to my day job.

[2018-05-23 13:14] tomaszstrejczek opened #60 "Proposal for new implementation"
I would like to propose the new implementation:
https://github.com/tomaszstrejczek/rules_dotnet/tree/toolchain
(branch toolchain).
It is heavily influenced by rules_go (toolchains, context, providers) and the current implementation of rules_dotnet.
It also works on Windows.

[2018-08-25 11:39] tomaszstrejczek commented on #56
Yes, the new toolchains-based implementation supports windows.

[2018-08-25 11:39] #56 closed

[2018-09-01 15:31] tomaszstrejczek commented on #58
In the new implementation you just reference "@io_bazel_rules_dotnet//dotnet/stdlib:System.Data.dll". The declarations from the most common assemblies are provided by rules in dotnet/stdlib.

[2018-09-01 15:31] #58 closed

[2018-09-01 15:32] #57 closed

[2018-09-01 15:33] tomaszstrejczek commented on #54
Yes, the new toolchains-based implementation supports windows and .NET.

[2018-09-01 15:33] #54 closed

[2018-09-01 15:34] tomaszstrejczek commented on #53
The new implementation and documentation is now provided.

[2018-09-01 15:34] #53 closed

[2018-09-01 15:35] tomaszstrejczek commented on #51
The new toolchain-based implementation uses (B) way.

[2018-09-01 15:35] #51 closed

[2018-09-01 15:36] tomaszstrejczek commented on #39
The new toolchain-based implementation supports .NET core.

[2018-09-01 15:36] #39 closed

[2018-09-01 15:36] #33 closed

[2018-09-01 15:39] tomaszstrejczek commented on #14
I couldn't find any downloadable working in-place (without installing) mono installation for Windows or Linux.
A similar problem exists for .NET.

[2018-09-25 07:29] samuela opened #69 "Support for F#"
pretty please...

[2018-09-25 07:30] samuela commented on #69
See also https://github.com/bazelbuild/bazel/issues/2864.

[2018-09-28 04:13] pcj opened #70 "Documentation for toolchains..."
`dotnet_download_sdk` looks like was copy-pasted from rules_go directly as it demonstrates download of the go sdk.

[2018-10-06 20:53] pcj opened #72 "Actions do not include 'mnemonic'"
The `mnemonic` attribute for `ctx.actions.run` and `ctx.actions.run_shell` (<https://docs.bazel.build/versions/master/skylark/lib/actions.html#run>) is important to be able to attach custom sandbox strategies to that action type.  Please add these so end-users can selectively disable sandboxing for `core_library` if needed.

If these do have mnemonics and I missed it, please document them.  Thanks

[2018-10-07 02:31] thelgevold opened #73 "More nuget documentation"
Hi. Thanks for updating the .net rules!

I gave it a try, and was able to put together a working sample relatively quickly. The only issue I had was with the nuget rule.

I am wondering if it would be possible to clarify the nuget rules a bit more. I am curious why we have to specify so many details about the dlls in the package. In regular .Net, all you have to specify is the name of the package.

[2018-10-11 10:36] tomaszstrejczek commented on #73
In regular .NET, msbuild rules during compilation extracts all necessary metadata from nuget packages to properly reference assemblies (depending mainly on target framework). Bazel, by design, cannot do it during compilation. Therefore, I created a dedicated tool which tries to generate proper workspace rules:

https://github.com/bazelbuild/rules_dotnet/blob/master/tools/nuget2bazel/README.rst

[h

[2018-10-24 01:55] pcj opened #74 "nuget_package attribute 'sha256'"
...should be non-mandatory as nuget.org itself does not servestable sha256 values for artifacts over time.

[2018-10-31 16:24] #74 closed

[2018-10-31 17:31] #73 closed

[2018-10-31 18:05] #72 closed

[2018-10-31 18:32] #70 closed

[2018-11-19 15:55] #59 closed

[2018-11-19 15:58] tomaszstrejczek commented on #18
https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/workspace.rst#nuget_package and https://github.com/bazelbuild/rules_dotnet/blob/master/tools/nuget2bazel/README.rst fix the issue.

[2018-11-19 15:58] #18 closed

[2018-12-06 19:32] jimevans opened #83 "Need support for /noconfig compiler command line switch"
In the `net_library` rule, when specifying to compile against a legacy framework version like .NET 3.5, the reference assemblies get resolved properly, but the build fails when executing the C# compiler. This is because there is a response file in the directory with the compiler itself (`csc.rsp`) which specifies framework references already. However, these specified references are not the correct

[2018-12-07 15:02] laurentlb opened #84 "Fix Bazel incompatible changes"
I'd like to be able to build rules_dotnet with --all_incompatible_changes:
  `cd rules_dotnet && bazel build //... --all_incompatible_changes`

It may not be possible to fix every issue now due to transitive dependencies, but we should try to fix the issues from this repository.

https://docs.bazel.build/versions/master/skylark/backward-compatibility.html

[2018-12-08 17:52] jimevans opened #86 "Should provide a way to specify SDK tools version different from .NET Framework version"
In [sdk_net.bzl](https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/private/sdk_net.bzl#L13), the SDK tools version is tagged off of the .NET Framework version. However, it's possible to compile a project of a given .NET Framework version (say, .NET Framework 4.5) with tools for a different SDK (say, NETFX 4.6.2 Tools). Moreover, current versions of Visual Studio do not provide down-lev

[2018-12-10 16:47] #84 closed

[2018-12-11 16:39] #83 closed

[2018-12-11 20:01] tomaszstrejczek commented on #83
Yes, I missed it. Thanks.
Fixed with https://github.com/bazelbuild/rules_dotnet/commit/bdfc24001b2463dbdb483b1fd9cd6420002adc7d

________________________________
Od: Jacob Parker <notifications@github.com>
Wysłane: wtorek, 11 grudnia 2018 19:04
Do: bazelbuild/rules_dotnet
DW: tomaszstrejczek; Mention
Temat: Re: [bazelbuild/rules_dotnet] Need support for /noconfig compiler command line switch (#83)

[2018-12-11 20:03] j3parker commented on #83
Thanks!

[2018-12-12 20:32] laurentlb commented on #84
Thanks a lot!

[2018-12-17 21:01] jimevans commented on #86
@tomaszstrejczek I don't know what the right approach would be, or whether another parameter would be the right way to go.

Consider my development environment setup. I've done nothing except install Visual Studio 2017. In my `C:\Program Files (x86)\Microsoft SDKs\Windows` directory, I have subdirectories for v7.0A, v7.1A, v8.0A, and v10.0A. Searching under each of those, I have in the appropriate

[2018-12-17 21:20] tomaszstrejczek commented on #86
I will try to find some time to implement both features:
1. Multiple target frameworks (since it  is not currently supported).
2. Proper handling of SDK tools.

[2018-12-19 13:14] baslas opened #92 ".NET Framework still required in order to build .NET Core project?"
When building a .NET Core project, .NET Framework 4.7.2 seems to be required on Windows. I have not try on another OS.

I believe it is related to [this line](https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/private/context.bzl#L152). If I use `@core_sdk//:lib` instead I am able to build a simple .NET Core project. As I am not familiar with the details of the dotnet rules, I am not su

[2018-12-26 05:32] pcj opened #96 "Compatibility with bazel 0.21.0?"
I'm unable to use these rules with bazel 0.21.0 due to an `invalid registered toolchain '@io_bazel_rules_dotnet//dotnet/toolchain:dotnet_net_linux_amd64': Analysis failed` issue.  I'm not sure of the underlying cause at the moment.

[2018-12-27 14:57] #96 closed

[2018-12-30 18:35] #86 closed

[2019-01-03 04:54] pcj commented on #96
Thanks @tomaszstrejczek!

[2019-01-21 18:00] amlinux opened #100 "Cross-device hardlinks on Linux"
`manifest_prep` on Linux attempts to create hardlinks across filesystem boundaries. Windows code has the branch that falls back to symlinks, while Linux code doesn't.

It results in errors:
[code]

[2019-01-21 18:02] amlinux commented on #100
Pull request: https://github.com/bazelbuild/rules_dotnet/pull/101

[2019-01-22 08:13] #100 closed

[2019-01-28 21:01] Meai opened #103 "DOTNET_CLI_HOME missing"
I get an error: `The user's home directory could not be determined. Set the 'DOTNET_CLI_HOME' environment variable to specify the directory to use.`

What is the canonical way of solving this? If it were my own rule I could add an env dict to the run_shell command but here I'm not sure.

[2019-01-29 14:41] tomaszstrejczek commented on #103
What operating system do you use? What command have you run?

[2019-01-29 15:51] Meai1 commented on #103
Ok your response made me think that I should upgrade my bazel and I did but that just introduced an additional error on top of the DOTNET_CLI_HOME missing:

centos 7
`bazel build //actorcompiler:actorcompiler`
Project sources: [flow-isolated.zip](https://github.com/bazelbuild/rules_dotnet/files/2808446/flow-isolated.zip)

[code]

[2019-01-29 16:44] tomaszstrejczek commented on #103
The rules are not yet compatible with sandboxing. Have you tried running:
bazel build --spawn_strategy=standalone //actorcompiler:actorcompiler
?

[2019-01-29 20:05] Meai1 commented on #103
That creates this output: (many more similar lines, I cut it off)
[code]

[2019-01-30 18:05] Meai1 commented on #103
It compiles but when I try to run it with my non-bazel dotnet (v2.2.102), I get:
[code]
I tried adding the actorcompiler.runtimeconfig.json with my dotnet version in it but it didnt change anything. When I tried to use the same version as config option in the bazel workspace, it said that it isnt supported. `Unknown core version v2.2.102`

[2019-02-02 19:21] Meai1 commented on #103
It works but only if I navigate into the then newly generated `actorcompiler.bash.runfiles/` folder. This is all a bit strange anyway why would it generate two different executables and why should the build process produce somthing that cant be even be run successfully? Surely that has to be a bug right?

With that in mind as a test I moved the whole runfiles folder to my host windows machine and

[2019-02-03 19:10] tomaszstrejczek commented on #103
A .NET Core application may be deployed in two modes:
- framework-dependent
- self-contained
See https://docs.microsoft.com/en-us/dotnet/core/deploying/ for more details.
Rules_dotnet produce self-contained deployments - that's why they contain so many files. Dotnet.exe when asked to produced a self-contained deployment also puts many files in the publish directory (basically the same files as rul

[2019-02-08 10:42] nmalsang opened #107 "error to download .Net Core sdk version v2.1.502"
An error happens during the download of the .net core sdk version v2.1.502. It looks like this version is not available. I fix it by using the version v2.1.503.
I can suggest my fix .

[2019-02-08 10:46] nmalsang opened #108 "error in WORKSPACE for xunit"
In the WORKSPACE
I had to fix two issue about xunit
- strip_prefix miising for abstractions.xunit-2.0.1
- @io_bazel_rules_dotnet is missing in the path of the build_file for xunit-2.4.1
I can provide the fix

[2019-02-08 11:51] tomaszstrejczek commented on #107
The PR would be highly appreciated.

[2019-02-08 11:52] tomaszstrejczek commented on #108
Please do. Appreciated.

[2019-02-12 07:58] nmalsang commented on #107
The PR is coming soon

[2019-02-12 07:58] nmalsang commented on #108
The PR is coming soon

[2019-02-18 21:31] amlinux opened #109 "Correctness issue: unit tests are not recompiled when files are changed"
When I change a unit test and run `bazel test`, the test is not getting rebuilt - it simply runs the old version.
Bazel version: 0.22.0
OS: Linux

[2019-02-18 21:31] amlinux commented on #109
Min repro: https://github.com/amlinux/dotnet-correctness-bug.

[2019-02-21 00:53] pslach opened #110 "Building Simple Project"
I'm trying to build a very simple project that outputs a .dll. This project has one file with a single method that returns a string. My WORSPACE is right from the README as follows:

[code]

My BUILD file is also very simple:

[code]

When I try to build this target I get:

My understanding was that the calls to dotnet_register_toolchains(), dotnet_repositories(), etc... should have set everything

[2019-02-21 23:06] amlinux commented on #109
It turns out that nunit tests produce `xxx.dll` and `xxx.bash.runfiles/xxx.dll` that are supposed to be the same file. The copying is done by means of a hardlink. If a hardlink already exists in the destination, then EEXIST is treated as success: https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/tools/common/manifest.c#L153, which is a bug.

When a source file is modified, new `xxx.dll

[2019-02-23 17:37] tomaszstrejczek commented on #110
Adding the following to your BUILD file next to the WORKSPACE file should help:

[2019-02-23 17:40] #103 closed

[2019-02-25 21:01] ozio85 commented on #110
Hi, I encountered the same problem on Windows.. but i don't know if it has the same origin on Mac.

I had only Microsoft DotNet Framework installed, and i encountered the same problem (would be the same only having DotNet core installed).

I noticed that currently you HAVE TO install Mono, otherwise I get the "no such package '@dotnet_sdk//'" on Windows as well. Once I installed Mono, everything w

[2019-02-28 19:50] pslach commented on #110
Hi,

I applied the changes and now I'm getting a different error:

[code]

I looked in bazel-bazel_net/external/dotnet_sdk/mcs_bin and mcs.exe does exist in there. Perhaps it's not looking under the bazel-bazel_net root folder? Btw bazel_net is the containing folder for my project so that is where that name is coming from.

[2019-03-10 19:15] #109 closed

[2019-03-10 19:19] tomaszstrejczek commented on #110
Rules_dotnet are unable to download .NET and Mono. Since you use in the WORKSPACE net_register_sdk() and mono_register_sdk(), it tries to locate them in well known locations. It looks like the rules fail to find Mono. If you intend to use Mono you have to install it. If not, please remove mono_register_sdk() from the WORKSPACE file and dotnet_context_data() from the BUILD file.

[2019-03-11 19:04] byang223 opened #115 "Are there plans for a new release?"
Are there plans for a new release (0.0.3 or above?) anytime soon? It seems that there's been some change since 0.0.2. Is that still the best version to use or is there a more recent commit that's pretty stable.

Thanks

[2019-03-11 19:32] byang223 commented on #110
I'm having this issue on Mac as well. @pslach did you come up with a solution?

[2019-03-17 11:48] tomaszstrejczek commented on #110
@byang223 Could you attach you WORKSPACE and BUILD file in the main directory? I would like to reproduce the problem.

[2019-03-18 16:58] Dopingus opened #116 "Unrecognized file mode for nuget library (Remotion.Linq)"
Hello,

I'm currently trying to set up a Bazel build for a .net core (2.2) webapp project (references Microsoft.AspNetCore.App).
I figured out how to configure/declare all dependencies, however when I try to add Remotion.Linq (2.2.0) Bazel quits with an IOException.

The lib itself seems to download just fine, but during extraction an exception is thrown.
My setup is macOS 10.14.3, rules_dotnet ma

[2019-03-18 17:28] byang223 commented on #110
I actually figured out why mine wasn't working. I was trying to use both mono and net sdk and I had a mix up on the library type. It's working correctly now :)

[2019-03-18 18:35] #110 closed

[2019-03-18 21:18] Dopingus commented on #116
Just tested this in a Bazel container and getting the same exception

[2019-03-21 17:51] byang223 opened #117 "Compatible with Moq?"
I'm trying to set up `dotnet_nunit_test` with moq. I have the following in my WORKSPACE

[code]

I refer to this by adding the following line to test dependency

[code]

However, I'm getting the following message:

[code]

The contents of moq/net45 include a Moq.dll, Moq.xml and Moq.pdb. Do these other files need to be referenced?

Any insight would be greatly appreciated. Thanks!

[2019-03-23 10:43] tomaszstrejczek commented on #117
Could you provide the BUILD directive you use to compile the tests? Do you try to compile core, .NET or Mono library? It's usually easier to use [nuget2bazel](https://github.com/bazelbuild/rules_dotnet/blob/master/tools/nuget2bazel/README.rst) tool . It generates [nuget_package](https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/workspace.rst#nuget_package) rules that are easier to use.

[2019-03-25 18:22] byang223 commented on #117
Here's my BUILD file

[code]

I'm using `dotnet`. I'm also on Mac OS and I'm not sure if that works with nuget2bazel. I've been using dotnet_nuget_new with my other packages and those have all seemed to work okay.

[2019-03-26 00:38] byang223 opened #118 "Use Bazel to build and release"
I have a `dotnet_binary` built and it runs locally (Mac OS). I would like to use bazel to build and distribute to other servers. Other than the actual `.exe` file, what other directories do I need to include? I need the external dlls as well but I'm not sure where the correct place to pull them from is.

[2019-03-26 20:06] byang223 commented on #117
I tried using `nuget2bazel` and I'm getting the following error

[code]

The command I used to call is

[code]

Is the tool compatible with dotnet? I notice that there are only core_binary targets and not dotnet_binary target

[2019-03-26 22:32] byang223 commented on #117
It seems the issue above is known. I'll keep trying to get this to work.

In the mean time, I tried using the gist you pasted above for my moq test and I'm getting another issue.

[code]

It looks like it's trying to use system.valuetuple.dll and system.threading.tasks.extensions.dll in stdlib though they don't exist. Is it possible to add those dlls?

[2019-04-11 16:24] njlr opened #120 "Cannot build a simple .NET Core project"
I am trying to build a .NET Core binary using Bazel.

`WORKSPACE`:

[code]

`BUILD.bazel`:

[code]

Error message:

[code]

Perhaps  I have missed something simple?

[code]

[2019-04-14 19:03] tomaszstrejczek commented on #120
First, you should use core_binary to compile .NET Core code. dotnet_binary is for Mono.
Second, you will need:
core_context_data(
    name = "core_context_data",
)
in the BUILD file placed next to WORKSPACE.

[2019-04-14 19:09] tomaszstrejczek commented on #118
In the main directory of your project you will find bazel-out link. Following the link, config name, and the structure of your project, you will find the directory <BinaryName>.bash.runfiles. The files from the directory with the subdirectory 'host' should be enough to run the file on another machine. The command to run is dotnet <your.exe>.

[2019-04-15 09:34] nmalsang commented on #107
I prepare a first fix for the rules for .Net Core and add a unit test on my fork.
But I have as dependency for my unit test : "@io_bazel_rules_dotnet//dotnet/stdlib.core:mscorlib.dll",
as you can see here :
  core_binary(
    name = "custom_bin",
    srcs = [
        "main.cs",
    ],
    out = "alt_bin.exe",
    deps = [
        "@io_bazel_rules_dotnet//dotnet/stdlib.core:mscorlib.dll",
    ],

I

[2019-04-15 09:41] nmalsang commented on #107
the code I try to do :

in assembly_core.bzl line 54 :
std_deps = ???? the dependencies of mscorlib.dll ???
    transitive_std_deps = depset(direct = std_deps, transitive = [d[DotnetLibrary].transitive for d in std_deps])
    args.add_all(transitive_std_deps, format_each = "/reference:%s", map_each = _map_dep)

Any suggestion is welcome.
Thanks

[2019-04-16 15:01] jvrdelafuente commented on #115
Is there any update on this?

[2019-05-01 01:17] jimevans opened #124 "Cannot resolve NuGet package references to local packages"
Many monorepo enthusiasts insist that dependencies are checked into the source control system. The .NET ecosystem supports this by use of a custom NuGet feed. In Visual Studio, this can be achieved by creating a file called `NuGet.config` XML file and adding a `<packageSources>` element that contains a reference to the directory on disk containing the `.nupkg` files. In the IDE, this shows up as a

[2019-05-01 19:00] tomaszstrejczek commented on #124
The nuget_package rule support source parameter which specifies package source to use:
https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/workspace.rst#nuget_package

[2019-05-01 19:20] tomaszstrejczek commented on #120
Closing due to inactivity. Feel free to reopen if needed.

[2019-05-01 19:20] #120 closed

[2019-05-01 19:23] tomaszstrejczek commented on #118
Closing due to inactivity. Feel free to re-open if needed.

[2019-05-01 19:23] #118 closed

[2019-05-01 19:38] jimevans commented on #124
That’s fair, I suppose, but for a package that lives in the source control repo, how should that URL be formatted? And do I need to lay the packages out in the repo in a specific directory format (like `packages/<packageName>/<packageVersion>/packagefile.nupkg`?

[2019-05-02 01:36] jimevans opened #125 "Unit test rules should allow files in data attribute"
Since the implementation for the unit test rules calls `dotnet.assembly`, just as the implementations for binaries and libraries, and the `data` attribute for the latter two implementations allow files, the unit test rules should likewise allow files. The use case is that there is currently no way to add non .cs files to the runlist for the rule, so things like test data files, configuration files

[2019-05-02 13:24] jimevans commented on #125
I've validated that adding `allow_files = True` to the `data` attribute in the test rules I'm running does allow me to accomplish what I need to. I've created PR #126 for this, which you are free to merge, or choose to implement in some other way.

[2019-05-03 12:24] jimevans commented on #125
PR merged. This issue can now be closed. There is still an issue with data dependencies being copied to the right place in the runfiles, but that's another issue.

[2019-05-03 12:24] #125 closed

[2019-05-07 14:57] VVKot commented on #108
@nmalsang Have you submitted the PR?

[2019-05-09 07:02] nmalsang commented on #108
@VVKot I will submit a first PR. xunit would need a toolchain
to select the framework version but I have not the time to do it now.

[2019-05-18 12:33] tomaszstrejczek commented on #124
Currently it will not work. nuget_package under the hood uses download_and_extract (https://docs.bazel.build/versions/master/skylark/lib/repository_ctx.html#download_and_extract) which AFAIK can't handle local files.

[2019-05-18 12:48] tomaszstrejczek commented on #115
Done

[2019-05-18 12:48] #115 closed

[2019-05-18 12:53] #107 closed

[2019-05-18 18:10] jimevans commented on #124
Well, let’s mark this as a feature request then, and see what it would take to develop.

[2019-05-20 07:10] #108 closed

[2019-05-20 07:11] nmalsang commented on #108
Merged #127 into master.

[2019-06-02 15:20] jimevans opened #128 "Test rules do not execute when using --incompatible_windows_native_test_wrapper"
Bazel 0.25 implements the ability to run `bazel test` rules without using Bash by including a flag, `--incompatible_windows_native_test_wrapper`. According to [this Bazel issue](https://github.com/bazelbuild/bazel/issues/6622), this flag will become the default behavior in 0.27. When attempting to run an NUnit test using `bazel test` and the `--incompatible_windows_native_test_wrapper` flag in Baz

[2019-06-14 19:05] laurentlb commented on #128
The flag will not be flipped in Bazel 0.27. See the labels on https://github.com/bazelbuild/bazel/issues/6622 (or the latest messages). So you have a few months to do the migration.

[2019-06-14 19:31] jimevans commented on #128
@laurentlb Making the flag not flip in 0.27 is actually worse for my case than better. Something in the way the .NET rules sets up their test execution environment using bash prevents one of the executables my test relies on from running properly (somehow blocking the [Windows `IELaunchURL` API](https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis

[2019-06-14 19:41] laurentlb commented on #128
@laszlocsomor might be able to help (but he's on vacation this month) or @meteorcloudy maybe.

[2019-06-14 19:51] tomaszstrejczek commented on #128
@jimevans I'm working on native (C-based) launchers instead of bash scripts. It will take couple more days to get it done.

[2019-06-14 19:54] jimevans commented on #128
@tomaszstrejczek That's supremely good news, especially if it's only a matter of days. If there's anything I can do to help that process along, do let me know.

[2019-06-23 16:58] #128 closed

[2019-06-24 17:56] jimevans opened #130 "Rules now ignore 'out' argument for name of output artifact"
Introduced in 6f44752, the rules now expect that the name of the created artifact by a rule indicates its file name in the file system, completely ignoring the `out` attribute of the rule. This also breaks existing build files and downstream rules that may rely on the output of the .NET build rules as their inputs (for example, merging component and dependent assemblies to a single assembly using

[2019-06-24 17:59] tomaszstrejczek commented on #130
My bad. I will fix it soon.

[2019-06-24 18:33] jimevans commented on #130
I may have a PR in a few minutes, if you like.

[2019-06-24 18:37] tomaszstrejczek commented on #130
It's more than welcome

[2019-06-25 22:27] #130 closed

[2019-06-26 16:02] jimevans opened #134 "Cannot run NUnit3 unit test"
With the introduction of the C test runners, attempting to use `dotnet test` on an `net_nunit3_test` rule fails. It appears that when attempting to execute `nunit3-console.exe`, the executable cannot find the supporting assemblies (e.g., `nunit-framework.dll`). I'm unsure if the executable can't find the assemblies, or if the test assembly built by the rule can't find the assembly.

[2019-06-26 19:12] tomaszstrejczek commented on #134
@jimevans could you provide an example? rules_dotnet examples of net_nunit3_test  seem to work.

[2019-06-28 20:54] jimevans commented on #134
Full example found here: https://github.com/jimevans/BazelNunitTestExample

Calling `bazel test //BazelNunitTestExample:example` yields failing tests, with the following error in the log:

  ----> System.IO.FileNotFoundException : Could not load file or assembly 'nunit.framework' or one of its dependencies. The system cannot find the file specified.
--NUnitEngineException

[2019-07-09 06:01] scp096 opened #135 "Where can I add compile options in a dotnet_binary rule. Using mcs."

[2019-07-16 15:35] baio opened #136 "container_image rule error"
Trying to build docker image (with container_image) on windows gives error
See sample [here](https://github.com/scalio/bazel-dotnetcore-starter)
[code]

[code]

[code]

[2019-07-17 01:41] zaphar commented on #136
@baio, This looks like a problem with the docker rulesand not the dotnet rules. You probably wanted to report it to: https://github.com/bazelbuild/rules_docker instead of here.

[2019-07-17 09:52] baio commented on #136
closed in favor of https://github.com/bazelbuild/rules_docker/issues/1004

[2019-07-17 09:52] #136 closed

[2019-07-17 16:07] baio opened #137 "The purpose of stdlib libraries"
The purpose of stdlib libraries is not clear.

 I'm trying to understand why actually we need predefined dependencies such as `@io_bazel_rules_dotnet//dotnet/stdlib.core:netstandard.dll`.

It just get `Microsoft.NETCore.App` metapackage and then parcel libraries from there to various core_lib(s) which further could be referenced from builds (dotnet\stdlib.core\macro.bzl).

Basically it's the same

[2019-07-22 19:08] tomaszstrejczek commented on #137
The cs compiler is executed with /nostdlib switch to force users to provide all references. Of course, it should be relatively easy to modify rules to include all predefined references, but I don't know which ones I should include.
The PR for nuget2bazel is more than welcome.

[2019-07-22 19:12] tomaszstrejczek commented on #135
Which options would you like to use? I'd rather prefer adding appropriate rule attribute to provide necessary feature. For example, a key file for signing is handled via the keyfile attribute.

[2019-07-23 02:57] scp096 commented on #135
@tomaszstrejczek , thanks for the reply.  A debug compile option is what I need.

[2019-07-24 21:00] tomaszstrejczek commented on #135
@scp096 you can set compilation mode to debug by executing bazel build with -c dbg command line option:
bazel build -c dbg //...

[2019-07-25 07:14] scp096 commented on #135
@tomaszstrejczek It doesn't work for me, didn't generate any mdb file（should be generated by mcs complie with debug option).

[2019-07-26 21:01] tomaszstrejczek commented on #135
Debug build was not supported for mono. I've just added the support with #139. It should work now.

[2019-07-30 13:33] aaliddell opened #140 "Nuget2bazel gives System.PlatformNotSupportedException"
When running on a Linux host, using `bazel run @io_bazel_rules_dotnet//tools/nuget2bazel:v2.2.101_nuget2bazel.exe add ...` gives the following error:

[code]

I have tested all the versions available and all give the same or similar results.

[2019-08-05 02:04] scp096 commented on #135
@tomaszstrejczek Thanks a lot.

[2019-08-05 02:04] #135 closed

[2019-08-06 14:19] ssell opened #141 "Support for .NET Core 3.0"
From what I gather, these language bindings currently support .NET Core versions:

* [v2.1.200](https://github.com/bazelbuild/rules_dotnet/tree/master/dotnet/stdlib.core/v2.1.200)
* [v2.1.502](https://github.com/bazelbuild/rules_dotnet/tree/master/dotnet/stdlib.core/v2.1.502)
* [v2.1.503](https://github.com/bazelbuild/rules_dotnet/tree/master/dotnet/stdlib.core/v2.1.503)
* [v2.2.101](https://githu

[2019-08-10 14:27] jimevans opened #142 ".NET rules produce unusable .NET Standard assemblies"
When building .NET Standard 2.0 assemblies with the current .NET rules for Bazel, the resulting assembly is not usable as a reference in .NET Core projects. The symptom of the issue is when using the resulting assembly, you receive compilation errors of the form:

    error CS0012: The type 'Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Priv

[2019-08-14 20:23] jimevans commented on #142
Ideally, I believe a way forward would be to use the binaries contained in the [NETStandard.Library NuGet package](https://www.nuget.org/packages/NETStandard.Library/2.0.3) as the reference assemblies that make up the stdlib for the SDK (instead of the ones that ship with the .NET Core SDK). I'm not entirely sure how to manage that, whether a new type of library generation rule (that would live al

[2019-08-23 19:46] tomaszstrejczek commented on #116
The problem is specific to bazel implementation of zip extract function. I've reported the issue to bazel project: https://github.com/bazelbuild/bazel/issues/9236.

[2019-08-23 19:46] #116 closed

[2019-08-26 20:59] noahl opened #145 "Can't use rules_dotnet on machine without mono installed"
I'm working on a Windows machine with .NET Framework and .NET Core installed, trying to build a .NET Framework project.

I first tried setting up my WORKSPACE like this:
[code]

I got several errors like this:
```ERROR: C:/users/nolavine/_bazel_nolavine/p6itprpv/external/io_bazel_rules_dotnet/BUILD:6:1: every rule of type dotnet_context_data implicitly depends upon the target '@dotnet_sdk//:mcs_bi

[2019-08-27 17:54] tomaszstrejczek commented on #145
Could you post the full output of your bazel build command?
Which version of .NET Framework do you have installed?
Please see an example which should work without mono installed:
[a.zip](https://github.com/bazelbuild/rules_dotnet/files/3547464/a.zip)

[2019-09-28 10:27] thesayyn commented on #145
I'm having this issue as well.

[2019-10-18 13:56] lshulyayeva commented on #140
I'm experiencing this issue trying out nuget2bazel for the first time; not sure if this is some edge case that I may be able to work around or if this makes nuget2bazel generally unusable?

[2019-10-20 11:18] #141 closed

[2019-10-27 12:11] tomaszstrejczek commented on #145
@thesayyn Could you try the latest version of rules_dotnet (0.0.4) with bazel 1.1.0?

[2019-10-27 13:04] tomaszstrejczek commented on #140
@lshulyayeva Could you try the latest version (0.0.4)? I've just tried:
bazel run --spawn_strategy=standalone @io_bazel_rules_dotnet//tools/nuget2bazel:nuget2bazel.exe -- add -p ~/tmp CommandLineParser 2.6.0
and it seems to work on Ubuntu.

[2019-10-27 13:05] tomaszstrejczek commented on #137
Closing due to inactivity.

[2019-10-27 13:05] #137 closed

[2019-10-27 13:11] tomaszstrejczek commented on #134
@jimevans Could you try with the latest version (0.0.4)? Copying dependencies is replaced with linking.

[2019-10-27 13:15] tomaszstrejczek commented on #117
Closing due to inactivity.

[2019-10-27 13:15] #117 closed

[2019-11-21 14:44] ztl8702 opened #148 "core_binary rule requires the target name to end in `.exe`?"
I noticed this curious phenomenon:

If the target name of a `core_binary` doesn't end in `.exe`, e.g.:
[code]

and then execute:
[code]

The build will succeed but binary will produce a "not possible to find .NET Core SDKs" error:

[code]

if I name the bazel target `test_dotnet.exe` then it works fine.
[code]

-----
Details:

<details>

Bazel version: 1.1.0
macOS
rules_dotnet: tag 0.0.4

WORKSPAC

[2019-11-22 19:10] ztl8702 commented on #148
Similar caveats seem to exist for library rules -- name must end in `.dll`

Should probably update docs to clarify this?

[2019-11-25 22:05] thanhy opened #149 "support for net48 sdk framework"
Is there a plan to support net48 sdk?

https://dotnet.microsoft.com/download/dotnet-framework/net48

[2019-11-28 18:42] #148 closed

[2019-11-28 20:35] ztl8702 commented on #148
Thanks!

[2019-11-28 21:13] ztl8702 opened #151 "Referencing AspNetCore dlls in .NET Core 3.0.100 SDK"
It seems that AspNetCore 3.0 is [no longer shipped as nuget packages](https://stackoverflow.com/a/58126758) but rather inside the SDK.

i.e. it is located in `shared/Microsoft.AspNetCore.App/3.0.0`.

To reference it, I assume we need to add `core_stdlib` rules for Microsoft.AspNetCore.App DLLs to  https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/stdlib.core/macro.bzl ?

@tomaszstrejcz

[2019-12-27 09:24] lehmamic opened #152 "Use csproj file to configure the basel rule"
In the dot net world, the csproj files are required by most of the IDEs and Tools, e.g. Visual Studio or the DotNet CLI.

If I'm using those tools for development, I never can be sure that the Bazel Rule will generate the same as in my dev IDE, which makes it useless for me in Enterprise Projects.

I suggest you'll find a way to use the csproj to configure the rule or even better, make the rule re

[2020-01-11 03:58] zaphar commented on #152
This use case would probably be better handled by issue #12 instead. Generating a csproj from the bazel rule would be a better direction than the other way around.

[2020-01-24 14:38] thfabian commented on #145
Looks like this has not been fixed. I'm still getting this issue
[code]
using the current HEAD of master.
@tomaszstrejczek I've modified your example to use .NET Core for repro ([a.zip][a.zip]) - The one you posted _works_ for .NET Framework (I tested it for 4.7.2).

[a.zip](https://github.com/bazelbuild/rules_dotnet/files/4108928/a.zip)

[2020-03-24 20:19] codebreach commented on #151
any way I can help with this? we also need this support!

[2020-03-31 09:40] wbiker opened #160 "C++ compilation of rule '@io_bazel_rules_dotnet//dotnet/tools/common:common' failed (Exit 2)"
Hi,

First thanks for the dotnet rules.
Unfortunately, I encountered an error and I think the problem is located in the rules_dotnet code:
Every time I build my C# executable I get the following error:
[code]
Looks like the c-compiler cannot build the copyfile.c files, but the why is above my head. Am I missing something?

WORKSPACE file:
[code]
Build file for the executable:
[code]

Thank you for

[2020-03-31 19:15] tomaszstrejczek commented on #160
Fixed by #162

[2020-03-31 19:15] #160 closed

[2020-04-01 09:13] wbiker opened #163 "The type or namespace name 'Management' does not exist in the namespace 'System' (are you missing an assembly reference?)"
I am getting:
[code]
I found a reference in macro.bzl:
https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/stdlib.net/macro.bzl#L77
But I do not know if that means the assembly reference is automatically added to the compiler, or do I have to add them somehow?
Adding an entry like:
[code]
does not work. And could not find any documentation for references either.

Sorry, when that is a si

[2020-04-02 06:45] wbiker commented on #163
OK after adding
[code]
it works.
But now system.management.automation.dll is missing and that is not already in the code. A	  ```
"@io_bazel_rules_dotnet//dotnet/stdlib.net:system.management.automation.dll",
[code]

[2020-04-02 07:40] wbiker commented on #163
According to the documentation:
https://github.com/bazelbuild/rules_dotnet/blob/master/docs/runtime.rst
The system.management.automation assembly is not linked because it already exists in GAC.
That is probably not a rules_dotnet question, but how can I compile my executable with a GAC assembly reference?

[2020-04-02 18:59] tomaszstrejczek commented on #163
I think that system.management.automation.dll is not a part of .NET Framework. The easiest way to use it is to find a proper nuget package and use [nuget2bazel](https://github.com/bazelbuild/rules_dotnet/blob/master/tools/nuget2bazel/README.rst) to import it.
However, I haven't found a nuget package for system.management.automation.dll for .NET Framework. [This one](https://www.nuget.org/packages/

[2020-04-03 03:17] wbiker commented on #163
Many thanks for your help.
I think I will go with option 1.

[2020-04-03 03:17] #163 closed

[2020-04-03 09:11] wbiker commented on #163
OK, after looking into that it looks like the option 2 is the easiest one.
Unfortunately, after adding net_gac4 rule, the Bazel Server crashes:
´´´
FAILED: Build did NOT complete successfully (21 packages loaded, 43 targets configured)
    currently loading: @io_bazel_rules_dotnet//dotnet/stdlib.net
Internal error thrown during build. Printing stack trace: java.lang.RuntimeException: Unrecoverable

[2020-04-06 06:36] wbiker opened #166 "net_gac4 causes Bazel server to crash"
After adding net_gac4 rule, the Bazel Server crashes:
[code]
I created a BUILD.bazel file next to the WORKSPACE one and added:
[code]
Im project BUILD file I added the deps:
[code]
The assembly in question exists in:
C:\Windows\Microsoft.NET\assembly\GAC_MSIL\System.Management.Automation\v4.0_3.0.0.0__31bf3856ad364e35\System.Management.Automation.dll

[2020-04-09 07:53] wbiker commented on #166
Not Bazel related.

[2020-04-09 07:53] #166 closed

[2020-04-12 11:52] tomaszstrejczek commented on #151
The support for ASP.NET Core build is now available on master. See https://github.com/bazelbuild/rules_dotnet/tree/master/tests/examples/aspnetcore

[2020-04-12 11:52] #151 closed

[2020-04-12 11:52] tomaszstrejczek commented on #149
It's now supported on master.

[2020-04-12 11:52] #149 closed

[2020-04-12 11:54] tomaszstrejczek commented on #142
.NET Standard libraries should now work if built using .NET Core toolchain. See https://github.com/bazelbuild/rules_dotnet/tree/master/tests/examples/netstandard

[2020-04-12 11:54] #142 closed

[2020-04-12 11:55] tomaszstrejczek commented on #140
Closing due to inavtivity.

[2020-04-12 11:55] #140 closed

[2020-04-12 11:55] tomaszstrejczek commented on #134
Closing due to inactivity.

[2020-04-12 11:55] #134 closed

[2020-04-12 12:03] ztl8702 commented on #151
Cool. Thanks!

[2020-04-21 14:11] plule-ansys opened #172 "net462: Reference assemblies should not be loaded for execution."
Hello, when using the "System.Runtime.CompilerServices.Unsafe" nuget package, the following error happens:

I see this issue on Windows 10 with the net462 framework. It works fine with .Net Core. I did not test with mono or other versions. It seems the issue was introduced with #161 and is still present as of 0.0.5.

Quick reproduction based on the commit just after this PR (but the issue is still

[2020-04-22 16:13] plule-ansys opened #173 "nuget2bazel generates dependencies to inexistant targets"
Hello, I'm trying to use nuget2bazel to integrate a dependency to GRPC with the net462 .Net Framework, the generated declaration contains dependencies to the following targets:

 - @io_bazel_rules_dotnet//dotnet/stdlib.net:net462_system.threading.tasks.extensions.dll
 - @io_bazel_rules_dotnet//dotnet/stdlib.net:net462_system.buffers.dll
 - @io_bazel_rules_dotnet//dotnet/stdlib.net:net462_system.nu

[2020-04-22 18:11] tomaszstrejczek commented on #173
Try using rules_dotnet from master branch. It should be fixed there.

[2020-04-23 07:34] plule-ansys commented on #173
Thank you for your answer Tomasz. The situation is improved in master branch: All the nuget dependencies are properly generated, however other entries are still depending to "@io_bazel_rules_dotnet//dotnet/stdlib.net:net462_{package}.dll" rather than the nuget package "@{package}//:net462_net". In my repro I see it on:

 - system.buffers
 - system.numerics.vectors
 - system.runtime.compilerservice

[2020-05-08 18:51] tomaszstrejczek commented on #173
Fixed in master. I've also added a working example based on your minimal repro: https://github.com/bazelbuild/rules_dotnet/tree/master/docs/examples/grpc

[2020-05-08 18:51] #173 closed

[2020-05-09 17:25] #172 closed

[2020-05-12 10:03] plule-ansys commented on #173
@tomaszstrejczek This is great thanks a lot

[2020-05-13 16:16] plule-ansys opened #177 "nuget2bazel miss many dependencies between nuget packages"
Hello,

Since the fix on #174 it seems that most of the dependencies between nuget packages are not properly populated. I've traced the issue as a simple lowercase/uppercase issue in `WorkspaceEntry.GetDeps*()` between `knownRawDeps` and `knownDependencies`, but I'm not sure of the implications

[2020-05-14 11:22] #177 closed

[2020-05-27 15:53] njlr commented on #69
Are there any plans surrounding this?

[2020-05-28 06:50] tomaszstrejczek commented on #69
Since I don't use nor know F# I do not plan to work on this issue.

[2020-05-31 17:46] marcino239 opened #179 "How to add aribitrary files as EmbeddedResource ?"
Hello!

How can I add a non-resx file to the target?  I.e. I am trying to replicate this msbuild directive:

[code]

The doc for core_resx says that "Only .resx files are permitted"

Thanks,
marcino239

[2020-05-31 18:18] tomaszstrejczek commented on #179
Use core_resource instead. For example:
core_resource(
    name = "resource1",
    src = "src/NUnitFramework/tests/TestImage1.jpg",
    identifier = "NUnit.Framework.TestImage1.jpg",
)

Then provide them in resource attribute:
core_library(
   ...
    resources = [
        ":resource1",
    ],
)

[2020-05-31 20:36] marcino239 commented on #179
Great - thanks.  Is there a way to specify glob list as sources ?

[2020-06-02 00:15] marcino239 commented on #179
So I did this and it works well.  However the core_resource rule does not expose visibility argument and all resources are showing up as public
[code]

[2020-06-02 00:15] #179 closed

[2020-06-02 11:23] marcino239 opened #180 "Error CS0433 when compiling AspNet with EntityFramework repro"
Hi

I am getting the following error when compiling AspNet with EntityFramework simple [repro](https://github.com/marcino239/repro_dotnet_ef).  EntityFrameworkCore is version 3.1.3 and I am using rules_dotnet from master [commit](https://github.com/bazelbuild/rules_dotnet/commit/e6415707f7e26756456d2473b9b22dfbeff66171)

I would grately appreciate if you could point me in a right direction.  If th

[2020-06-02 23:19] marcino239 commented on #180
WORKSPACE
[code]

BUILD
[code]
NUGET.bzl  [is in repro here](https://github.com/marcino239/repro_dotnet_ef/blob/master/NUGET.bzl)

[2020-06-04 01:28] marcino239 commented on #180
Ok, so looks like the problem is caused because core_sdk and NUGET.bzl include different version of same dll:
[code]
@tomaszstrejczek  would you know how msbuild resolves such conflicts?

[2020-06-04 19:26] tomaszstrejczek commented on #180
MSBuild is able to dynamically resolve dependencies by reading assemblies (for example their versions).
Bazel, by design, during analysis phase (resolving dependencies) does not allow to read any input files. This is to ensure reproducibility.
Some time ago I tried to use assemblies' version numbers statically declared in bazel BUILD files to pick the appropriate assembly version but couldn't figu

[2020-06-05 11:55] marcino239 commented on #180
Thanks.   I've asked question how msbuild resolves conflicts in dotnet project.  Hopefully they can point me to code that does it.  I wonder how blaze (at Google) solves this problem if they use dotnet core / framework

[2020-06-05 13:53] RobbTheBob opened #181 "Connot Build c# grpc server"
Hi,

When genereating the GRPC Files i get the following error.
To me it seems like there is something missing in  'dotnet/stdlib.core' .
Thats why i issued the problem here instead of issuing at the grpc repository.
I am just getting started with bazel so i am thankful for all the help i can get.

Best Regards,
RobbTheBob

[code]

BUILD

[code]

WORKSPACE

[code]

[2020-06-07 13:58] tomaszstrejczek commented on #180
It's fixed on master. Now the latest version of the conflicting assembly is used.

[2020-06-07 14:00] tomaszstrejczek commented on #181
Have you seen the example in docs/examples/grpc?

[2020-06-07 17:24] RobbTheBob commented on #181
Hey Tomas,
I did but i always ran into an error (below).
Therefore i changed some parts and i was able to get the everything running but grpc.
Using the example code I always get a problem with the dotnet_sdk.

Do you happen to have an alternative example building a binary?

I am very thankful for your help.

[code]

[2020-06-07 17:39] tomaszstrejczek commented on #181
Do you intend to compile your code for all .NET flavours: Core, .NET Framework, Mono?  Your WORKSPACE file declares all of them. The error messages may indicate that you do not have Mono installed on your build machine.

[2020-06-07 18:39] RobbTheBob commented on #181
My first intention was to include all.
However I would be happy as well if only one would work.
In visual studio I am able to compile on dotnet easily.
Mono is is installed on my machine as well.

[2020-06-09 10:47] marcino239 commented on #180
Great - let me take a look and get back to you.

[2020-06-09 20:29] tomaszstrejczek commented on #181
The rule csharp_grpc_library is not updated to the latest version of rules_dotnet.
I've updated on master docs/examples/grpc example to workaround this problem.

[2020-06-12 11:40] tomaszstrejczek opened #184 "Ensure runner properly handles native dependencies"

[2020-06-14 00:36] marcino239 commented on #180
All good after the fix.  Would you like me to send a PR with a repro as part of the unit test?

[2020-06-14 16:17] tomaszstrejczek commented on #180
When solving the problem I added the example docs/examples/ef. It is run in CI pipeline.
If your PR would test the problem more thoroughly then it's more than welcome.

[2020-06-19 17:25] lupin-de-mid opened #185 "Try use without net_core and mono"
So i have
WORKSPACE
[code]

BUILD
[code]

a.cs (is irrelevant, but)
[code]
So  receive  this

[code]

How it related to 4.6 from workspace?
"Full" source of sample
[a.zip](https://github.com/bazelbuild/rules_dotnet/files/4805964/a.zip)

[2020-06-21 17:43] tomaszstrejczek commented on #185
net_binary() uses a default .NET SDK which is set to 4.8. If you want to use a different version it is required to specify appropriate context attributes:
[code]

[2020-06-21 20:13] lupin-de-mid commented on #185
I'll try it tomorrow

[2020-06-22 07:23] lupin-de-mid commented on #185
I update  BUILD to
[code]
And than

[code]

I try change workspace (adding name = "net_sdk_net46")
[code]

and than receive same error as at start of my excersize

[code]

[2020-06-25 12:31] lupin-de-mid commented on #185
I update
WORKSPACE
[code]

BUILD
[code]
a.cs
[code]

output
[code]

[2020-06-25 13:41] lupin-de-mid commented on #185
I update
WORKSPACE
[code]

BUILD
[code]
a.cs
[code]

output
[code]

[2020-06-25 16:26] lupin-de-mid commented on #185
Okey I found dependency :)

BUILD
[code]

WORKSPACE
[code]
Output

[code]

[2020-06-25 16:26] lupin-de-mid commented on #185
Okey I found dependency :)

BUILD
[code]

WORKSPACE
[code]
Output

[code]

[2020-06-25 17:28] tomaszstrejczek commented on #185
You need to call dotnet_repositories_nugets() after dotnet_register_toolchains() (from defs.bzl)

[2020-06-28 12:31] tomaszstrejczek commented on #184
Fixed by #186

[2020-06-28 12:31] #184 closed

[2020-07-01 09:25] erezbo opened #188 "Building dotnetcore2.1 that uses netstandard2.0 fails"
Creates system package collisions:

See attached files
[WORKSPACE.txt](https://github.com/bazelbuild/rules_dotnet/files/4856871/WORKSPACE.txt)
[BUILD.txt](https://github.com/bazelbuild/rules_dotnet/files/4856875/BUILD.txt)
[project.csproj.txt](https://github.com/bazelbuild/rules_dotnet/files/4856876/project.csproj.txt)
[output.txt](https://github.com/bazelbuild/rules_dotnet/files/4856877/output.tx

[2020-07-05 20:32] paveli-d9 commented on #188
Hi,

I would like to provide more info to the above:

Currently, we are using "dotnet build/publish" command to build our projects on os-x machines, which uses csproj file.

We are trying to convert existing csproj files to bazel build files and start using bazel.
Some of our projects are netstandard2.0 libraries, like the example in project.csproj.txt.

So, first we are using the nuget2buzel tool

[2020-07-29 20:11] tomaszstrejczek commented on #188
See #189 for an example of using netstandard and core assemblies together.

[2020-08-04 14:31] jwillebrands opened #191 "Use different source(s) with nuget2bazel tool"
Hi,

We've recently had to expand our codebase with a little dotnet and, since we are using Bazel for everything else, were hoping to do the same here. We tend to pull most of our packages from an Azure artifact feed. Is there any way that we can use a different source in combination with the nuget2bazel tool? I found that the nuget_package rule does support specifying the source, but so far, I've

[2020-08-06 12:15] tomaszstrejczek commented on #191
No, it's not possible at the moment

[2020-08-06 12:16] tomaszstrejczek commented on #191
I've started working on it.

[2020-08-08 17:47] heynemann opened #193 "Dockerizing Dotnet Aspnet Exe"
Hi, first of all thank you so much for these rules. You all rock!

I'm up to speed with having a rest and graphql asp.net APIs up and running: YAY!

Now I'm trying to dockerize them after build, so later on I can push them to our docker repo. I adapted some of the stuff in https://github.com/scalio/bazel-dotnetcore-starter for starting out.

The problem I have now is that, even though I can build

[2020-08-08 18:13] tomaszstrejczek commented on #191
Fixed in #192

[2020-08-08 18:13] #191 closed

[2020-08-08 18:21] tomaszstrejczek commented on #193
I assume that you tried bazel run //rest:rest-cli.exe and it worked (without docker).
The docker image doesn't work because it requires many other files to run. See the folder bazel-bin/rest/rest-cli.exe. All files and subdirectories except *.runfiles are required to run rest-cli.exe. They contain both dotnet runtime and all dependencies of rest-cli.exe

[2020-08-08 21:42] heynemann commented on #193
I did, now I'm having some trouble trying to understand how to reference the files in `bazel-bin` in my `container_image` target. Any hints?
Sorry for the lack of experience with bazel and thanks again for the support!

[2020-08-08 22:26] heynemann commented on #193
Just another piece of information that may tell what's going wrong, I'm building on a mac os device and docker is running linux.

[2020-08-09 10:50] tomaszstrejczek commented on #193
Try using pkg_tar. For example:
`
load("@bazel_tools//tools/build_defs/pkg:pkg.bzl", "pkg_tar")

pkg_tar(
    name = "hello_core",
    srcs = [":v3.1.100_hello-core.exe"],
    include_runfiles = True,
    mode = "0755",
    remap_paths = {"/libhostfxr.dylib": "/host/fxr/3.1.0/libhostfxr.dylib"},
)
`

I have never tried to build linux binaries on osx platform. Rules_dotnet most likely will not work

[2020-08-09 11:20] jwillebrands commented on #191
Awesome. Will give it a spin. Thanks a lot!

[2020-08-10 09:18] erezbo commented on #188
This a trimmed down example of one of our projects that throws an error:

Settings (see "My.Project.csproj"):
sdk version 2.1.503
netstandard version 2.0.3
System.Net.Primitives version 4.3.1

My Bazel BUILD & WORKSPACE files are included.

Build fails due to System.Net.Primitives version conflict (see "error.txt").

What is the correct way to configure BUILD & WORKSPACE?

[BUILD.txt](https://gith

[2020-08-10 16:52] J-Swift opened #194 "Xamarin.ios / Xamarin.android support?"
Thanks for the efforts here, its great that progress is being made! I have only smoketested a bit of bazel and these rules, but the initial results are exciting in terms of build times and build management.

I am currently trying to replicate a `msbuild`/`csproj` based monorepo setup that I am using for app development (you can see the gist of the setup [here](https://gist.github.com/J-Swift/1ca7e

[2020-08-14 19:20] tomaszstrejczek commented on #188
Fixed in #196

[2020-09-08 15:15] lupin-de-mid commented on #12
May be anybody has some hints how to generate this project file from bazel rules

[2020-09-08 15:45] lupin-de-mid commented on #12
I'm ready to generate this from csharp, but may be there are more bazelish way

[2020-09-22 11:22] nimrodpar opened #197 "The nuget_package format you give in the README.md is outdated (for bazel 3.5)"
Should be:

[code]

[2020-09-22 13:53] nimrodpar commented on #197
Also, if someone can specify the `nuget_package` for `using Microsoft.CodeAnalysis;` and `using Microsoft.CodeAnalysis.CSharp;`, I would be eternally grateful.

[2020-09-24 10:44] nimrodpar commented on #197
Just continuing the conversation with myself..when i try to run the bazel built executable is get:

[code]

Thoughts?

[2020-09-24 15:24] tomaszstrejczek commented on #197
Do you use bazel run command?

[2020-09-26 07:21] nimrodpar commented on #197
Yes. It gives a 'no SDK found' error (core SDK 3.1 is installed). Tried on WSL2 and on a Ubuntu 18 container

[2020-09-26 07:29] nimrodpar commented on #197
p.s. i found the nuget declarations for using `Microsoft.CodeAnalysis` that were able to `bazel build` successfully:

[code]

Use them with: `deps = [ "@microsoft.codeanalysis.csharp//:netcoreapp3.1_core",  "@microsoft.codeanalysis.common//:netcoreapp3.1_core", ]`.

`bazel run` still does not work, and when I run the exe directly i get the aforementioned `Could not load file or assembly 'System.Ru

[2020-09-29 20:10] tomaszstrejczek commented on #197
Usually the error "Could not load file or assembly 'System.Runtime, Version=x.y.z.v'" means that there is a mismatch between versions of System.Runtime used by nuget assembly and by other code.
rules_dotnet can resolve some mismatches if enough information is provided.
If you run:
`
bazel run --spawn_strategy=standalone @io_bazel_rules_dotnet//tools/nuget2bazel:nuget2bazel.exe -- add -p c:/temp mi

[2020-10-06 14:22] igorgatis opened #198 "Can't make hello world work under mono docker image"
I'm having a really hard time trying to use rules_dotnet on my C# project. I placed a sample under https://github.com/igorgatis/rules_dotnet_sample. When I try to run it under mono image (steps below), I get:

[code]

To reproduce, try:
[code]

[2020-10-06 16:25] tomaszstrejczek commented on #198
@igorgatis rules_dotnet doesn't support sandboxing yet. Try:
`docker run -it --rm -v c:/temp/rules_dotnet_sample:/root/.cache/ rules_dotnet_sample bazel build --spawn_strategy=standalone //...`

[2020-10-06 16:29] tomaszstrejczek commented on #194
Xamarin iOS and Android builds are not supported and will not work with rules_dotnet.

[2020-10-06 16:29] #194 closed

[2020-10-06 16:31] #193 closed

[2020-10-06 16:31] #188 closed

[2020-10-06 16:32] #185 closed

[2020-10-06 16:34] #181 closed

[2020-10-06 16:37] J-Swift commented on #194
Understood @tomaszstrejczek, thank you for the follow up. Just to fully understand, are ios/android not supported _currently_ or are they never going to be supported?

[2020-10-06 17:27] tomaszstrejczek commented on #194
Any pull request is more than welcome :) I don't have enough knowledge to add support for Xamarin.

[2020-10-06 17:52] J-Swift commented on #194
OK perfect. I'm on the other side of the spectrum (only knowing ios/android) and so I'll keep an eye on these rules over time and hopefully find somewhere I can inject some expertise to hook the two sides together.

[2020-10-08 02:15] igorgatis opened #199 "Time for a new release?"
I came across a few rough edges  while trying to use release 0.0.5 which are fixed in master already.

[2020-10-08 02:27] igorgatis opened #200 "Improve documentation regarding generated artifacts"
I put together a very simple example project:
[code]
Where `hello/BUILD.bazel`:
[code]

When I run `bazel build //hello:hello.exe`, it produces:
[code]

What is `hello.exe_0.exe`? Why does it get generated even if I don't explicitly ask for it? Is it needed by `hello.exe` (the binary)? If I want to pack minimal set of files required by my application, which files do I need? How do I use this rule

[2020-10-08 02:27] #198 closed

[2020-10-08 02:27] igorgatis commented on #198
It worked. Thanks.

[2020-10-21 10:37] plule-ansys opened #201 "Preserving runfiles folder architecture"
Hello, the targets passed in the `data` attribute of a library, test or binary are copied near the executable rather than provided with the Bazel folder architecture described by the [data bazel doc](https://docs.bazel.build/versions/master/build-ref.html#data). A file located in "some_folder/file" will be available as "file" rather than "some_foder/file" at runtime. This copy is also a concern wi

[2020-10-27 18:08] jwnewman12 opened #202 "Fix version parsing to allow "-preview" versions that contain 5 numeric parts"
Unfortunately Microsoft has decided that "4.7.0-preview1.19504.10" is "official release" and that version comes up a lot when trying to pull many of the .netcore nuget packages. The rules reject it as an invalid version, as it contains 5 numeric parts, and it doesn't know what to do with the extra ".10".

You can reproduce this by using the nuget2bazel tool to add "Microsoft.AspNetCore.Server.Kest

[2020-11-05 14:18] ezemtsov commented on #69
This is what stops us from using Bazel.
@tomaszstrejczek is it really hard to extend the current version to support F# dotnet core?

[2020-12-06 08:37] leolcao opened #203 "Does this project still in active development?"
I want to use bazel with this dotnet rule to build .net/.netcore 3.1/.net 5 applications and libraries, and I am doing some estimation from this project.

So for, I find some issues, such as the 'dotnet_nuget_new' doesn't support nuget V3 API yet and others.

Then I want to ask the question as title. Does this project still alive?

[2020-12-07 17:10] tomaszstrejczek commented on #203
AFAIK I'm the only active contributor to the project. I do it in my spare time.

[2020-12-07 17:10] #203 closed

[2020-12-21 17:27] jwnewman12 commented on #202
This can be closed, it's really only an issue if you're using the older nuget packages, Kestrel 2.2.0 was pulling -preview in. Instead, we should have been using the asp stdlib the entire time.

If anyone runs into this it's easy to patch.

[2020-12-21 17:27] #202 closed

[2020-12-21 19:34] jwnewman12 commented on #193
I can comment that _it does work_ in such a scenario. We have both macOS and Linux users building Linux images for aspnet core, that work well now. It looked like all of the toolchain work was in there already.

With the above snippet, there is one issue, `include_runfiles = True`, results in the Darwin SDK .dll files landing in the package. This leads to a "BadImageFormatException", as those file

[2020-12-22 18:37] warriorstar-orion opened #204 "Hello Worlds failing on Windows 10"
Hello, and thanks for all your work.

The repo at https://github.com/warriorstar-orion/bugs_dotnet_sdk_helloworld should be a ideal repro case.

The repro:
[code]

Additionally, I don't suppose the naming of the `WORKSPACE` rules can be changed? I'm not a .NET programmer but for me it's confusing to know there are three toolchains: .NET Core, .NET Framework, and Mono Framework, but the related rul

[2021-01-19 16:32] jagobagascon opened #205 "Cannot test or run code that depends on nuget packages that include native binaries"
I'm trying to test a Grpc interceptor implementation using `NUnit` and the `core_nunit3_test` rule. This test depends on `Grpc.Core` nuget package and `bazel` is giving me the following error when trying to run it:

[code]

This is happening whenever I try to run or test code that depends on the `Grpc.Core` nuget package. `Grpc.Core` includes some native libraries that are required at runtime and

[2021-01-22 09:50] jagobagascon commented on #205
I just found a workaround for this. If I modify the `nuget_package` rule generated by `nuget2bazel` and add a reference to the binary files then the test works like a charm.
[code]

So maybe this is a problem with `nuget2bazel`? It should detect and include these files in the generated rules.

[2021-01-22 11:18] jagobagascon commented on #205
I added a PR that I believe fixes the issue.

[2021-01-25 20:10] tomaszstrejczek opened #207 "Fix hardcoded version of test runners."

[2021-01-31 15:37] #205 closed

[2021-01-31 20:56] tomaszstrejczek commented on #204
Could you test it with the latest version (0.0.6)? Please note that .NET Framework support is dropped.

[2021-01-31 20:56] tomaszstrejczek commented on #199
0.0.6 just has been released.

[2021-01-31 20:56] #199 closed

[2021-01-31 20:58] tomaszstrejczek commented on #145
The latest version dropped support for .NET Framework and Mono. The problem should not exist anymore.

[2021-01-31 20:58] #145 closed

[2021-02-05 10:02] purkhusid opened #210 ".Net 5 Support"
Would it be possible to add .Net 5 support? I tried looking into it but I did not figure out how to generate the generate.bzl and generate2.bzl files that are there for each version.

[2021-02-05 10:15] purkhusid commented on #210
Also, would be nice if there was documentation on how to add new versions

[2021-02-05 22:51] warriorstar-orion commented on #204
Excellent work! A clean `bazel run //:core_a.exe` works exactly as expected.

The exact changes are made here: https://github.com/warriorstar-orion/bugs_dotnet_sdk_helloworld/commit/046392c34d72ea2f5c01e36687c3b9e7b20eb59b

Platform information is the same as above if you want to point to this as a Hello World for the future.

[2021-02-05 22:51] #204 closed

[2021-02-06 05:58] samhowes commented on #210
Agreed. I have been looking at `dotnet/stdlib.core/*/generated.bzl` files and, not being very familiar with details of bazel, wondering how they are generated so I could try out .NET 5, and why exactly they need to be there.

[2021-02-06 14:47] purkhusid commented on #210
I think I figured this out and I have a PR here: https://github.com/bazelbuild/rules_dotnet/pull/212

[2021-02-08 03:01] samhowes opened #213 "Full documentation link is broken/down"
`readme.md` Documentation section has a note "The full documentation is here." where "here" links to `https://tomaszstrejczek.github.io/rules_dotnet/` which returns 404 Site not found by github pages.

[2021-02-13 18:22] remiphilippe opened #220 "Infinite recursion during resource lookup within System.Private.CoreLib on MacOS"
Hello,
I'm trying to run nuget2bazel (or any builds) using the master branch, but I keep getting this infinite recursion error.
Note this is working fine on tag 0.0.6 (without the platform command option).

Extra context, I'm on a Mac M1 (same device for all tests)

Command used:
`bazel run @io_bazel_rules_dotnet//tools/nuget2bazel:nuget2bazel.exe --host_platform @io_bazel_rules_dotnet//dotnet/too

[2021-02-13 18:29] remiphilippe commented on #220
And for the record, everything works with this command:
`bazel run @io_bazel_rules_dotnet//tools/nuget2bazel:nuget2bazel.exe --host_platform @io_bazel_rules_dotnet//dotnet/toolchain:darwin_amd64_3.0.100 --platforms @io_bazel_rules_dotnet//dotnet/toolchain:darwin_amd64_3.0.100  -- add -p $PWD -b nuget.bzl -c nuget.json -i -l Microsoft.Identity.Client 4.24.0`

Just get a warning:
[code]

[2021-02-14 00:24] purkhusid opened #221 "Rules don't work with remote execution"
I've been testing the rules with remote execution via https://buildbuddy.io and it seems like they do not work.

This can be reproduced in this repo https://github.com/purkhusid/bazel-bootstrap by following the README.md and and then run `bazel build //...  --config=remote`

I've been trying to debug it but I've got little experience debugging remote execution. I can work on a fix if I could get s

[2021-02-14 00:31] purkhusid commented on #221
The exact error I get is:

[code]

[2021-02-14 11:53] purkhusid commented on #221
I also had to create a custom platform for the remote exec as seen here: https://github.com/purkhusid/bazel-bootstrap/blob/3db9e4977e4d8df7f3cf8482ab5c00a5264673a3/BUILD.bazel#L27

[2021-02-15 09:36] purkhusid commented on #69
F# support has been merged into master: https://github.com/bazelbuild/rules_dotnet/pull/217

[2021-02-15 09:44] njlr commented on #69
@purkhusid Thanks for this!

In my own experiments, I found that the output of `dotnet` / `fsc` would contain the full-path to the source files. Do the Bazel rules strip this out?

If so, would you mind sharing the flags that achieve this?

[2021-02-15 09:56] purkhusid commented on #69
@njlr You can see all the compiler options used in this function: https://github.com/bazelbuild/rules_dotnet/blob/312dfb42f1e55dd7cbc5da0d1958de302b9643d1/dotnet/private/actions/assembly_core.bzl#L220

[2021-02-15 09:59] ezemtsov commented on #69
@purkhusid thanks a lot for your effort!
@tomaszstrejczek do you think it's possible to make a stable release with F# support?

[2021-02-15 18:06] njlr opened #222 "Toolchain error when using the new F# rules"
I'm not sure if I have missed a step here?

`WORKSPACE`

[code]
`BUILD`

[code]

[code]

Bazel `4.0.0` and Ubuntu Linux.

[2021-02-15 18:27] njlr commented on #222
Some progress...

`.bazelrc`

[code]

Then

[code]

However, it does not run:

[code]

[code]

Although I didn't think local tools were required to run Bazel targets.

[2021-02-15 18:30] tomaszstrejczek commented on #222
I think bazel run also requires --host_platform and --platform.
rules_dotnet do not expect any SDK to be installed. It downloads it based on selected platform.

[2021-02-15 18:33] njlr commented on #222
Yes the build command (copied from README) was `bazel build --host_platform //dotnet/toolchain:linux_amd64_2.2.402 --platforms //dotnet/toolchain:linux_amd64_2.2.402 //...`

[2021-02-15 18:37] tomaszstrejczek commented on #222
I'm referring to the problem with executing bazel run //:demo.

Have you tried
`bazel run --host_platform @io_bazel_rules_dotnet//dotnet/toolchain:linux_amd64_3.1.100  --platforms @io_bazel_rules_dotnet//dotnet/toolchain:linux_amd64_3.1.100 //:demo`
?

[2021-02-15 18:40] njlr commented on #222
[code]

[2021-02-17 03:27] samhowes commented on #213
This appears to be fixed now.

[2021-02-17 03:27] #213 closed

[2021-02-17 09:23] purkhusid commented on #222
@njlr You don't happen to be using any form of remote execution? I got the same error when trying to build rules_dotnet targets with remote execution.

Can you try running the same command for a C# library and see if it comes with the same error?

[2021-02-17 09:30] purkhusid commented on #222
@njlr I figured this out. You are missing the `.exe` extension in the target name. It is required that libraries have `.dll` extensions and executables `.exe`.

I'm not sure if this is something that could be removed now that the rules only support .Net Core. @tomaszstrejczek would know more about that.

[2021-02-17 09:37] purkhusid commented on #221
Ok, I've been digging into this and by adding the `-d` argument here: https://github.com/bazelbuild/rules_dotnet/blob/312dfb42f1e55dd7cbc5da0d1958de302b9643d1/dotnet/private/actions/assembly_core.bzl#L181
it starts showing the missing files.

It seems like most of the `.so` `.dylib` `.dll` from `sdk/shared/...` are missing when I use remote execution.
These files are all declared in the `<version>

[2021-02-17 10:00] purkhusid commented on #221
@tomaszstrejczek If I change this line: https://github.com/bazelbuild/rules_dotnet/blob/312dfb42f1e55dd7cbc5da0d1958de302b9643d1/dotnet/private/BUILD.core.bazel#L49

To `data = glob(["core/**/*"]),`

everything works with remote execution. This is not really an acceptable solution though since it pulls the whole SDK into each action.

[2021-02-17 11:32] njlr commented on #222
Success! Thanks @purkhusid

The winning combination is:

`.bazelrc`

[code]

`WORKSPACE`

[code]

`BUILD`

[code]

Perhaps the rule `fsharp_binary` should throw if the name does not end in `.exe`, just as a temporary measure?

[2021-02-17 12:04] purkhusid commented on #222
Yeah, might make sense to add a check. What do you think @tomaszstrejczek ?

[2021-02-18 07:15] tomaszstrejczek commented on #222
@purkhusid Yes, it makes sense.

[2021-02-18 09:21] purkhusid commented on #222
PR here: https://github.com/bazelbuild/rules_dotnet/pull/223

[2021-02-18 17:40] #222 closed

[2021-02-19 09:11] purkhusid commented on #221
@tomaszstrejczek  Proposed fix in #224

[2021-02-19 14:36] aaliddell opened #225 "[Next] Update rules-proto-grpc once next branch is merged"
In recent versions you've switched to using toolchains and platforms for selecting the SDK version to be used. However, using a platform to resolve a single field in the toolchain is somewhat problematic for anyone who already has an existing platform, since it necessarily won't know about the SDK version.

Why were the config_settings not applied directly as constraints on the toolchain, rather t

[2021-02-21 12:31] tomaszstrejczek commented on #69
@ezemtsov Done

[2021-02-21 12:31] #69 closed

[2021-02-23 11:35] fiddej opened #228 "Debugging in VS Code don't work with generated pdb-files"
I don't get debugging in VS code to work as expected for my executable Foo.

I've created a task.js-file and a launch.js-file. I build with the specified command. The flag --compilation_mode=dbg generates .pdb-files as expected. The preLaunchTask in VS Code builds it and the program is executed. I've tried to both launch the generated Foo.exe_0.exe and the dotent.exe with Foo.exe as an argument. I

[2021-02-23 21:19] njlr opened #229 "(Usability) Perhaps nuget2bazel should default to -p $PWD ?"
I'm not sure if `bazel run` passes the relevant info to the target executable, but it would significantly improve the onboarding experience if `-p $PWD` was the default.

My first several attempts to use the tool put the config in the Bazel cache folder.

What I tried:

[code]

What 90% of users will intend:

[code]

[2021-02-28 15:06] njlr opened #230 "fsharp_binary and fsharp_library with additional files for type providers"
F# code might leverage type providers to generate types at build-time.

For example:

[code]

Here the build depends on `./foo.json` in addition to the usual `.fs` files.

But how should this be described in Bazel?

My first guess was:

[code]

But this isn't right:

[2021-02-28 15:35] tomaszstrejczek commented on #230
"data" attribute should be used instead of "resources".

[2021-02-28 17:40] njlr commented on #230
Thanks @tomaszstrejczek. Unfortunately that doesn't work for me.

Isn't `data` meant for run-time resources anyway?

I made a repo here: https://github.com/njlr/bazel-fsharp-providers

[2021-03-03 18:19] njlr commented on #230
I think the solution is to have a list of files that are part of the compilation (they are copied alongside other `srcs` into the build sandbox), but that are not part of `srcs` because they are not given directly to the compiler.

A new build rule attribute called `extra_files`?

[2021-03-06 13:41] purkhusid commented on #230
@njlr I've got a WIP pr here: #232
It adds a new `extra_files` attribute to the F# rules but I'm having a hard time getting the Type Provider to compile.
Keep getting:
[code]
You can check out my branch if you want to take a stab at it.

[2021-03-06 15:53] njlr commented on #230
@purkhusid Thanks! Yes I get the same issue too. I think there must be more to how type providers work. We need to find out where the generated code gets put, and how to link it.

[2021-03-06 16:18] njlr commented on #230
After bit more investigation, I wonder if the output from `nuget2bazel` is the issue?

The `FSharp.Data` package look like this:

[code]

And the generated `nuget_package` looks like this:

[code]

So I wonder if we need to reference more of these DLLs?

 *  `lib/netstandard2.0/FSharp.Data.dll`
 * `typeproviders/netstandard2.0/FSharp.Data.DesignTime.dll`

[2021-03-06 17:43] purkhusid commented on #230
@njlr Yeah, I just managed to get this to build in the WIP PR. This is with the latest version of FSharp.Data (4.0.1). The package layout changed between 3.3.3 and 4.0.1 so the example in the PR will have to be adjusted to be used with 3.3.3.

I'm kind of on the fence about the naming the the `extra_files` field. Maybe something more declarative would be better?
`compile_data` maybe?

[2021-03-06 17:48] njlr commented on #230
You're right, `extra_files` is not descriptive enough!

I like `compile_data` too. Some ideas:

 * `compile_data`
 * `compilation_data`
 * `compile_time_resources`
 * `type_provider_resources` (Will this feature ever be used for things other than type providers?)
 * `type_provider_data`
 * `design_time_resources` (I think "design time" is how the F# compiler team refers to the compilation stage wh

[2021-03-06 20:25] purkhusid commented on #221
Fixed in #224

[2021-03-06 20:25] #221 closed

[2021-03-06 22:28] purkhusid commented on #230
The PR is ready for review.

[2021-03-07 17:53] tomaszstrejczek commented on #230
fixed in #232

[2021-03-07 17:53] #230 closed

[2021-03-07 18:06] njlr commented on #230
Shall I open a new issue for the Nuget rules? `FSharp.Data` does not work with the tool currently - if you notice the unit-test it has a work-around to introduce the dependency on `FSharp.Data.DesignTime`

[2021-03-07 18:18] tomaszstrejczek commented on #230
Yes

[2021-03-07 19:39] njlr opened #233 "nuget2bazel does not generate correct Bazel definitions in case of packages containing F# type providers"
See this demo repo: https://github.com/njlr/bazel-fsharp-providers

It depends on `FSharp.Data`:

[code]

Expected behaviour:

[code]

Actual behaviour:

[code]

The structure of the Nuget package is:

[code]

Snippet of the generated `WORKSPACE`:

[code]

[2021-03-07 19:39] njlr commented on #230
https://github.com/bazelbuild/rules_dotnet/issues/233

[2021-03-18 18:28] njlr opened #234 "Issue with FParsec Nuget package using nuget2bazel"
Repro here: https://github.com/njlr/bazel-fparsec

Error:

[code]

The DLL is in the Nuget package:

[code]

But it does not get included by nuget2bazel.

[2021-03-18 19:06] njlr opened #235 "How do I add test data to fsharp_xunit_test?"
Repro here: https://github.com/njlr/bazel-xunit-test-data

Suppose I have a test that uses some resources:

[code]

[code]

And a Bazel target:

[code]

This works using `dotnet` by adding the test resources:

[code]

But how do I do this with Bazel?

[2021-03-24 17:24] purkhusid commented on #235
I haven't taken a serious look but it appears that the data files are available  at the path `<name of target>/filename`e.g. in your example it works if you change the path to `bazel_xunit_test_data.dll/a.txt`

Apparently runfiles resolution is a complicated beast in bazel and most of the mature bazel rules have a runfiles library that can look up the runfiles e.g. https://github.com/bazelbuild/ru

[2021-03-25 09:21] njlr opened #236 "Fable output for F# targets (F# for web and Node.js)"
[Fable](fable.io/) is an F# to JavaScript compiler.

Here's how Fable works:

 1. Fetch Fable executable from Nuget `dotnet tool install Fable`
 2. Run Fable on a `.fsproj` file`dotnet fable ./my-project.fsproj`
 3. Fable generates a `.fs.js` file for every `.fs` file
 4. Additional standard library files are generated in `.fable` folder
 5. Nuget packages that contain `.fs` sources in a `fable` d

[2021-03-25 09:44] purkhusid commented on #236
I'm not so sure that it makes sense to have the fable support in this repository since it will probably require a dependency on rules_nodejs for good interop since you would probably want to use the providers that rules_nodejs uses.

[2021-03-25 11:39] njlr commented on #236
@purkhusid I think the Fable output might be consumed by rules from `rules_nodejs`, but I don't think this would require a dependency on them.

[2021-03-29 15:49] purkhusid opened #237 "Internal nugets clash with user nugets"
The internal NuGet dependencies clash with the user specified NuGet packages.

E.g. ef I depend on Newtonsoft.Json in my application then it will clash with the Newtonsoft.Json that is declared here:
https://github.com/bazelbuild/rules_dotnet/blob/312dfb42f1e55dd7cbc5da0d1958de302b9643d1/dotnet/private/deps/nuget.bzl#L808

[2021-03-29 15:50] purkhusid commented on #237
@tomaszstrejczek What would be your preferred fix to this? Should we just manually add an prefix to the internal dependencies or do we want to update the nuget2bazel program so that it allows the user to specify a prefix?

[2021-03-29 15:54] purkhusid opened #238 "Nuget2bazel rules command does not work"
I am working on adding .Net 5.0 support but the `nuget2bazel` `rules` command does generate the correct files in the `dotnet/private/stdlib` folder.

@tomaszstrejczek Did you fix the files manually or do you have an work-in-progress program that can automatically generate the correct files?

[2021-03-29 15:56] purkhusid opened #239 "Generate csproj/fsproj files from bazel targets"
This is feature request which I might tackle myself later if nobody else does it.
I would like to be able to generate `.fsproj/csproj` files from the C#/F#` targets that are declared in my workspace.

This would make it easier to keep the IDE support working without having to manually maintain the `.fsproj/.csproj` files.

[2021-04-03 18:01] tomaszstrejczek commented on #237
@purkhusid
The problem is extensively discussed here: https://github.com/bazelbuild/bazel/issues/1952.
I like the option https://github.com/bazelbuild/bazel/issues/1952#issuecomment-272595447.
What's your opinion?

[2021-04-03 18:55] purkhusid commented on #237
Can we not simply add a prefix to all the internal nugets so that they will be refernced as `@internal.newtonsoft.json` instead of `@newtonsoft.json`? Or is the problem more compilcated than that?

[2021-04-03 19:52] purkhusid commented on #237
For nugets that are used for testing(xunit, nunit) we could create new toolchains that allow overriding the dependencies. `rules_scala` does something like that but I don't fully understand how it works since I have not read it thoroughly: https://github.com/bazelbuild/rules_scala/blob/master/testing/BUILD

Nugets that are used by tools like nuget2bazel we could just add a prefix to the repository

[2021-04-03 21:36] purkhusid commented on #225
@aaliddell Do you have some examples of toolchains that are configured this way? E.g. how do I make a constraint conifgurable via a flag?

[2021-04-03 22:28] purkhusid commented on #225
And also, is it possible to use incompatible target skipping when using the approach you mentioned? E.g. in repo there are targets that are only compatible with certain SDK versions.

[2021-04-04 17:02] tomaszstrejczek commented on #237
Adding a prefix to nuget2bazel dependencies seems a good idea.

For xunit/nunit using a separate toolchain seems an overkill. I propose to modify dotnet_repositories_nugets() to include additional parameters. For example:
`
def dotnet_repositories_nugets(omit_xunit_console_runner=False):
  if not omit_xunit_console_runner:
    register_xunit_runner_console()
  ...
`
If a user calls  dotnet_reposit

[2021-04-06 08:48] coeuvre opened #243 "rules_dotnet broken in Bazel downstream due to recent change to --toolchain_resolution_debug"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1984#1c810ab6-39c8-45d4-83c2-b2e2fbb8aa75
[code]
https://buildkite.com/bazel/culprit-finder/builds/1319#f66fa0aa-c984-4b5c-8f84-b15918c8a5c7
Caused by https://github.com/bazelbuild/bazel/commit/fbf9f9d7d3228c2b7ddb1ff87605e90d8b56a3a9

[2021-04-12 12:06] katre commented on #243
rules_dotnet needs to be updated, I'll send them a PR today.

[2021-04-12 12:26] fweikert commented on #243
Great, thank you!

[2021-04-12 12:50] fweikert commented on #243
Bazel auto-sheriff is convinced that the culprit here also caused this very different error: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/1990#284aa31e-ee16-447a-af9f-7a30606fc5a5

[2021-04-12 13:00] katre commented on #243
It is very unlikely that changing the way `--toolchain_resolution_debug` works caused an action conflict, but I will take a look.

[2021-04-12 18:29] #243 closed

[2021-04-24 02:08] heynemann opened #246 "nuget2bazel issue"
Hey,

I'm using latest version of rules dotnet and I'm not able to run nuget2bazel.

My workspace:

[code]

Bazel version is `bazel 3.7.2`.

The command I'm running is:

[code]

I tried changing my .bazelrc to contain:

[code]

And the error remains the same.

Any ideas?

[2021-04-24 16:15] purkhusid commented on #246
@heynemann The `target_compatible_with` feature came in Bazel 4.0

[2021-04-28 08:08] purkhusid commented on #238
This has been fixed.

[2021-04-28 08:08] #238 closed

[2021-04-30 16:27] jwnewman12 commented on #235
Instead of `data = `, try

[code]

in the xunit test. That requires listing each file .. but was the only way we could get it to work.  https://tomaszstrejczek.github.io/rules_dotnet/api.html#fsharp_xunit_test

[2021-05-04 08:46] njlr commented on #234
I think that `nuget_package` might not be designed correctly. Since you can only specify one `core_lib` per target, it is not possible for a package to have multiple internal core libraries, as seems to be the case here.

Perhaps the API should be extended to allow lists of core libraries?

[code]

[2021-05-09 08:22] oakad opened #248 "Support for "host" toolchain"
Bazel rules for go support using a "host" toolchain, that is, whatever toolchain is invoked by "go" command found in system path.

Is it possible for rules dotnet support the same functionality, that is run whatever toolchain is invoked by "dotnet" commadn found in system path?

[2021-05-09 08:32] oakad opened #249 "Razor/Blazor Support"
I would like to build a small blazor server using bazel. The server itself builds just fine, but ends up broken, because razor, cshtml.cs and various data files are not added to the target as required.

Is building blazor servers supported at all? If yes, may there be an example somewhere on how to build those?

If not presently, may the support for those be added in the near enough future?

[2021-05-09 09:54] tomaszstrejczek commented on #248
It is not possible.

[2021-05-09 10:22] oakad commented on #248
Most languages are roughly the same when compilation is concerned.

For example, this clearly works:
1. `dotnet --info` to get the active framework path
2.  `dotnet <framework path>/Roslyn/bincore/csc.dll` to invoke the compiler

[2021-05-09 10:57] oakad commented on #248
To elaborate a bit more: when building in all sorts of constrained environments, simply assuming something can be downloaded as needed is not an option.

On the other hand:
1. The sdk download results in a tree layout rather identical to what is installed out of the box by OS supplied dotnet core package
2. Bazel is capable of attaching the workspace and build files to any sort of "local repositor

[2021-05-20 15:55] ghost opened #252 "Missing System.ServiceModel references that are already there"
Hi, I'm running into errors such as this at compile time:

The type name 'EndpointAddress' could not be found in the namespace 'System.ServiceModel'. This type has been forwarded to assembly 'System.ServiceModel.Primitives, Version=4.8.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' Consider adding a reference to that assembly.

I have set up the System.ServiceModel.Primitives Nuget package

[2021-08-07 05:24] jimmyhoran commented on #210
Looks like this was addressed with pr https://github.com/bazelbuild/rules_dotnet/pull/240. Can we close this issue now?

[2021-08-07 08:08] #210 closed

[2021-08-13 23:58] mrocheleau opened #254 "How to call dependency for stdlib - dotnet core"
Getting lots of:
...error CS0518: Predefined type 'System.Boolean' is not defined or imported
...error CS0246: The type or namespace name 'Type' could not be found (are you missing a using directive or an assembly reference?)

type of errors on initial builds, I see references in old issues for "you need to declare dependencies for standard libraries" but they all reference a past structure of the

[2021-08-17 17:33] mrocheleau commented on #254
Any guidance here would be amazing, it SEEMS like all of the example code, and all of the README examples/guides show doing it the old way pre that "fully switched to platforms and toolchains" PR some months ago.

How does one reference these new version specific bzl files (like:  https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/private/stdlib/3.1.100.bzl) to have system.dll be a depe

[2021-08-17 23:48] mrocheleau commented on #254
I was able to work around this by shoehorning in the core_sdk_linux_amd64_3.1.100 external repo and dep'ing system.dll from there, ie:

deps = [
"@core_sdk_linux_amd64_3.1.100//:system.dll",
  ]

Along with a slew of other critical standard libs, but I see all of this defined elsewhere in the toolchain bits I just don't get how to get at them correctly.  Any help would be great to make this actual

[2021-09-16 09:16] ironpeak opened #255 "Support for arm64?"
I noticed there is no toolchain for arm64 (only amd64), does this rule work for arm architecture?

https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/toolchain/toolchains.bzl

[2021-09-21 09:30] jtaylor100 opened #256 "Allow setting compiler options on target/toolchain"
I was looking to enable the 'TreatWarningsAsErrors' option on a bazel package, but I'm lost trying to find somewhere to put the [compiler options](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/errors-warnings) on the `csharp_binary` rule.

Does an attribute exist on `csharp_binary` like the [`javacopt` on `java_binary`](https://docs.bazel.build/versions/main/be

[2021-09-23 08:55] purkhusid commented on #256
This is not possible at the moment but it should be pretty easy to add this so that it can be declared on either the targets themselves or apply it to all targets by specifying them on the toolchain.

I might needs this feature in the not so far future to so I might implement it but it will be a few weeks probably.

[2021-09-23 09:03] purkhusid commented on #255
@ironpeak Are you using a Mac or Linux ARM? I've got a private patch that makes .Net 5.0 work on MacOS using ARM that I could upstream. Since .Net 5 does not support MacOS ARM natively(It's coming in .Net 6) it will use Rosetta to run the .Net binaries.

This patch works for the devs at my company that are using MacOS ARM. If you are interested i can create a PR to the repo with it if @tomaszstrej

[2021-09-23 09:05] purkhusid commented on #254
@mrocheleau You should just need to add `@core_sdk_stdlib//:libraryset` to the `deps` of you target to make the stdlib available.

[2021-09-24 11:12] ironpeak commented on #255
We are using MacOS. I see .Net 6 is only about a month away so I'll wait for the native support.

We haven't started using dotnet at my company yet, so there is no rush.

[2021-09-28 16:54] hsyed-dojo opened #258 "Towards full build generation"
Hello Folks.

We at paymentsense/dojo are considering moving to Bazel for production builds. We operate poly repos and they are in the hundreds.

I'm wondering if full project workspace / build generation is on the horizon. Something akin to gazelle. We would need something like this otherwise we would need to change the way we organise code to make hand managed builds worth it.

I haven't done an

[2021-09-28 20:22] tomaszstrejczek commented on #258
I don't think anybody is working on it. For the next couple of months, I will not have the bandwidth to tackle this problem :(.

[2021-09-29 07:35] tomdegoede commented on #258
Hi @hsyed-dojo . We are using Bazel to build a 500+ project dotnet (core) mono-repo. We have forked rules_dotnet and only kept bare minimum for our scenario. Take a look at https://github.com/AFASResearch/rules_dotnet if you are interested. We do for example generate BUILD files based on csproj files, and also restore the nuget packages on the fly in a single external_repository. Do keep in mind t

[2021-10-04 10:28] purkhusid commented on #258
@tomdegoede Many of the features listed in your fork would be very beneficial to rules_dotnet, do you think some of the features could be upstreamed to this repo to consolidate the Bazel/.Net effort?

@tomdegoede Could you list up the things that would be required for you being able to use the upstream rules_dotnet? I would be willing to help with migrating the features if you think it's a worthy

[2021-10-13 09:07] purkhusid opened #260 "Proposal: Towards increased adoption"
The landsacape for .Net in Bazel is pretty scattered at the moment. The following
rules are the ones that I know of:

* https://github.com/bazelbuild/rules_dotnet
* https://github.com/Brightspace/rules_csharp
* https://github.com/samhowes/rules_msbuild
* https://github.com/AFASResearch/rules_dotnet (Fork of rules_dotnet)

I met up with @tomdegoede and @hsyed-dojo to discuss how we could help make

[2021-10-13 09:09] purkhusid commented on #260
Going to tag some other .Net rule authors in case they have some valuable input for this:
@j3parker, @omsmith  - https://github.com/Brightspace/rules_csharp
@samhowes - https://github.com/samhowes/rules_msbuild

[2021-10-13 13:18] J-Swift commented on #260
Just wanted to throw out a 'thank you' to you all for taking the initiative on this, and Tomasz for the stewardship.

[2021-10-13 13:36] j3parker commented on #260
We (Brightspace/rules_csharp) would be happy to have a single implementation. Our focus has been on:

* Go directly to csc, not msbuild (i.e. consider msbuild as something equivalent/parallel to Bazel)
* Have ergonomic BUILD files: they should look like simple csproj files, and should be in principle human maintainable (even if they are auto-generated by tools). See [this example](https://github.c

[2021-10-14 12:56] hsyed-dojo opened #261 "Proposal: Robust dependency management"
# Robust dependency management

Participants: @hsyed-dojo and @tomdegoede
Reviewers: @purkhusid

Dependency management is arguably the most complex aspect of managing a Bazel build at scale. A dependency management solution is needed that will work ergonomically in a dual build setup (msbuild and bazel). This is one of
the ingredients for full build generation #258 and is one of the changes we wou

[2021-10-15 02:25] samhowes commented on #258
@hsyed-dojo This has been precisely my focus over in [rules_msbuild](https://github.com/samhowes/rules_msbuild). I'm still polishing the rules and developing docs for it, but I currently use gazelle to generate all the build files for rules_msbuild from the csproj files.

We are discussing the future of bazel .net rules over in #260, but just figured I'd mention that here.

Right now, you can `dot

[2021-10-15 02:34] samhowes commented on #260
@purkhusid happy to have your attention! I would definitely be open to contributing my work back into `rules_dotnet` in here, and that was my original intention. I moved to a fresh implementation for a little more "space" in my implementation, and for an experimentation space with bazel, as I didn't have much bazel experience when I started out.

Right off the bat, it sees like [`@rules_msbuild//g

[2021-10-15 03:25] samhowes commented on #261
I've done some thinking on this topic over in @rules_msbuild, thought I'd share what I've learned:

Bazel brings a unique challenge to the table for using Directory.Packages.props:
NuGet packages have different dependency graphs for each target framework that the NuGet package supports.

Take [NewtonSoft.Json](https://www.nuget.org/packages/Newtonsoft.Json/) for example:
NETStandard 2.0 has no dep

[2021-10-19 13:12] tomdegoede commented on #260
Thanks @tomaszstrejczek I just received the invite!

[2021-10-29 09:47] hsyed-dojo opened #265 "Do not depend on a native toolchain"
The native tools that are a part of the rules create a dependency on a native toolchain. We could replace them with platform specific scripts or create a release for them.

[2021-11-03 18:25] njlr commented on #261
@purkhusid Would you be able to open-source this tool? I am interested in trying it.

[2021-11-04 19:42] purkhusid commented on #261
@njlr Do you specifically want to use Paket or do you just need a better tool for NuGet packages in Bazel? The tool is not currently in shape for sharing it but I might have time soon to clean it up and share it.

We are looking into using a fairly new feature in NuGet which allows centrally managing packages and generating a lock file. If we'll be successful we'll probably make that the default w

[2021-11-04 21:49] njlr commented on #261
I am interested in using Paket; I also tried to create a similar tool. Unfortunately my attempts with F# and Bazel failed due to a few other issues (https://github.com/bazelbuild/rules_dotnet/issues/234, https://github.com/bazelbuild/rules_dotnet/issues/235)

[2021-11-04 22:19] purkhusid commented on #261
@njlr Ok, I'll take a look at this as soon as I can. My bandwidth is fairly limited at the moment but I hope I can do some rules_dotnet work soon.

[2021-11-17 08:38] ax-meyer opened #266 "Examples not working"
As usual (at least for me) when trying some new thing, I try to get the examples to run - but they won't run.

First problem: the `examples` folder is blacklisted in the `.bazelignore` file, so bazel refuses to build anything from the folder at all.

Second: Even after removing the ignore, it still won't bild - not even in the linked `gitpod`.

Error I am getting in the gitpod:

[code]

This is no

[2021-11-17 08:41] purkhusid commented on #266
Hey! The examples are each in their own self-contained workspace, you have to `cd` into each example directory and run `bazel` from within the directory. Hope that works for you!

[2021-11-17 08:45] purkhusid commented on #266
Also, we recently removed support for unsupported versions of .Net. You can use .Net 5 with `--host_platform @io_bazel_rules_dotnet//dotnet/toolchain:5.0.201 --platforms @io_bazel_rules_dotnet//dotnet/toolchain:5.0.201`

[2021-11-17 08:57] ax-meyer commented on #266
Still no luck:

[code]

[2021-11-17 09:35] purkhusid commented on #266
@ax-meyer The gRPC example was broken after some breaking changes done not too long ago and it was not part of the CI. I've fixed the example. Could you try pulling the latest changes and run `bazel test //... --host_platform=@io_bazel_rules_dotnet//dotnet/toolchain:linux_amd64_5.0.201 --platforms=@io_bazel_rules_dotnet//dotnet/toolchain:linux_amd64_5.0.201` within the `examples/grpc` directory ?

[2021-11-17 11:03] ax-meyer commented on #266
Thanks, this fixed it! Works now on gitpod and my machine.

[2021-11-17 11:03] #266 closed

[2021-11-19 22:30] jwnewman12 commented on #265
We had to use a patch to delete the windows .c programs and just use the native `cp` / `ln` commands as `sh_binary`. Easy enough.

There's also some issues with how the platforms & toolchain were setup I think. For instance, if you run `bazel query`, that command cannot specify a `--platforms` argument. The rules will then download _every single version_ of .netcore/framework/mono that they have l

[2021-11-23 10:52] purkhusid commented on #265
@jwnewman12 Yeah, I had to the exact same thing to eliminate unnecessary downloads. I've been thinking about changing the toolchain setup to be a more standard and the end user should just register the toolchains that will be used.

I've also been looking into how https://github.com/Brightspace/rules_csharp allows targeting different frameworks and might use it as an inspiration.

[2021-11-23 11:08] tomdegoede commented on #265
I believe multi targetting from dotnet just uses the latest sdk but compiles against other versions' reference assemblies. It would remove a lot of complexity if we could just pin the sdk!

[2021-12-06 14:37] meteorcloudy opened #268 "Bazel CI: rules_dotnet failing in downstream pipeline with Bazel@HEAD"
https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2273#a0af9fb0-30ce-4c1a-a8d2-998152915082
[code]

Related Bazel issue: https://github.com/bazelbuild/bazel/issues/13811

[2021-12-06 14:38] meteorcloudy commented on #268
rules_dotnet will be disabled in Bazel downstream until this is fixed, which means it won't get test coverage with Bazel@HEAD.

[2021-12-07 09:35] err0r500 opened #269 "nuget2bazel usage"
Hello,
I try to use `nuget2bazel` in a test project. (dotnet core `v5.0.206` on the Fedora 35 & `v5.0.201` configured in the `.bazelrc`)

Here's a working `dotnet` command from the solution's root (where the `WORKSPACE` file lives) :
[code]

if I run
[code]
or
[code]

I get a few packages installed in the `./packages` folder but it always ends up with
[code]

Same thing happens with other packages

[2021-12-09 09:12] purkhusid commented on #268
@meteorcloudy I'll take a look at this, I think it's only a matter of updating our https://github.com/rules-proto-grpc/rules_proto_grpc dependency

[2021-12-09 09:44] purkhusid commented on #268
@meteorcloudy This should be fixed now

[2021-12-09 10:11] meteorcloudy commented on #268
OK, rerunning with Bazel@HEAD https://buildkite.com/bazel/bazel-at-head-plus-disabled/builds/1137

[2021-12-09 10:19] meteorcloudy commented on #268
Thanks, rules_dotnet is green with Bazel@HEAD, I'll re-enable it in the actual downstream pipeline.

[2021-12-09 10:19] #268 closed

[2021-12-13 21:02] purkhusid commented on #269
I've had some issues with using nuget2bazel as well so I don't personally use it but wrote a wrapper around https://fsprojects.github.io/Paket/ instead and it has been working great for me.

The plan is to replace nuget2bazel in the near future with a light wrapper around NuGet and this feature: https://github.com/NuGet/Home/wiki/Enable-repeatable-package-restore-using-lock-file

[2022-01-30 15:52] purkhusid commented on #260
Hey! I've been looking into how we might combine the various features from each .Net ruleset that has been mentioned in this issue.

I would like to mention the most wanted and unique features from each ruleset and then propose a plan on how we might gather them all into one main set of rules.

* https://github.com/bazelbuild/rules_dotnet
    * F# support
* https://github.com/Brightspace/rules_csh

[2022-02-01 15:02] tomdegoede commented on #260
@purkhusid Sounds good! I am just a bit worried about breaking changes to the rules_dotnet repo seeing how diverged everything is. But maybe we should decide to live with that for now. Another approach could be migrating features one by one, maintaining the current rules and slowly making them compatible with the new components. I am not so familiar with the toolchain implementations (I stripped e

[2022-02-01 15:11] j3parker commented on #260
Cool. I have no comments RE: multi-targeting other than I believe it is good for it to be ergonomic to the user in `BUILD` files like with msbuild and as demonstrated by [this example BUILD file](https://github.com/Brightspace/rules_csharp/blob/master/examples/diamond/BUILD#L36-L40) (which might be a bit "too ergonomic", but it matches what people get with msbuild basically).

Our take on mapping

[2022-02-02 09:12] purkhusid commented on #260
@j3parker Yeah, I should have mentioned reference assemblies in the feature list above. That feature definitely needs to stay. In my branch I've already got the examples running and the tests working with all the features that were already in your repo except when targeting the old .Net Framework. It's been years since I last used the .Net Framework so I'm going to leave that up to someone else to

[2022-02-12 12:19] purkhusid opened #275 "Next: Merging effort"
This issue is just an overview of the tasks that need to be done to merge features from the following repositories:
* bazelbuild/rules_dotnet - This repo
* AFASResearch/rules_dotnet - https://github.com/AFASResearch/rules_dotnet
* Brightspace/rules_csharp - https://github.com/Brightspace/rules_csharp
* samhowes/rules_msbuild - https://github.com/samhowes/rules_msbuild

We are expecting some breaki

[2022-02-12 12:21] purkhusid commented on #275
I'm currently working on the initial tasks and hope to have it ready in the next few days.

[2022-02-12 12:39] samhowes commented on #275
Happy to work on this! I've had some life changes and a new job recently so I won't be as active as I have been before for a bit.

I'll try to push a new branch with a start on the Gazelle stuff sometime soon though.

[2022-02-12 18:47] purkhusid commented on #275
The initial work has been committed to the `next`branch: https://github.com/bazelbuild/rules_dotnet/tree/next
I also took care of the following items:

* Migrate manifest loader from AFASResearch/rules_dotnet
* Migrate apphost shimming from AFASResearch/rules_dotnet
* Get bazel run and bazel test working for *_binary1 and *_nunit_test` rules when targetting .Net core

[2022-02-14 09:44] purkhusid commented on #275
Added F# support to the `next ` branch

[2022-02-14 16:22] j3parker commented on #275
If it's not too hard to maintain I think it would be nice, at least for compilation. I wouldn't bother with running the output personally (e.g. tests) but being able to compile via Bazel on Linux is helpful for D2L and I think not a huge burden to support (just pull in the different reference assembly package.)

[2022-02-14 16:30] purkhusid commented on #275
@j3parker Sounds good, it might make sense to add some explicit failures when doing `bazel run` `bazel test` on targets that are targetting .Net Framework then.

[2022-03-26 15:24] njlr opened #278 "nuget2bazel cannot sync Amazon.Lambda.TestUtilities Nuget package"
`nuget2config.json`

[code]

[code]

[code]

--------------------

[code]

[2022-03-26 15:26] njlr commented on #278
Ah, turns out it doesn't like when you have commented lines in the `WORKSPACE` block that it generates.

It should probably skip those lines or give a clearer error?

[2022-03-26 15:29] njlr opened #279 "nuget2bazel generates incorrect WORKSPACE logic for FSharp.Core"
`nuget2config.json`

[code]

Then try to run a target that depends on `@fsharp.core//:lib`:

[code]

The work-around is to comment out these lines in the `WORKSPACE`:

[code]

-----------

[code]

[2022-03-26 15:29] njlr commented on #278
Note comments added due to this issue: https://github.com/bazelbuild/rules_dotnet/issues/279

[2022-03-26 16:39] njlr opened #280 "Is there an equivalent to dotnet publish?"
Using `dotnet publish` it is possible to generate a folder with a DLL and all of its dependencies.

Is there an equivalent in `rules_dotnet`?

[2022-03-30 09:30] purkhusid commented on #280
@njlr There is no such support at the moment in these rules. Can I ask what the exact use case you have is?

[2022-03-30 09:39] njlr commented on #280
For example to deploy an AWS Lambda it is necessary to build a `.zip` that contains the .NET library and any dependencies.

[2022-03-30 12:25] purkhusid commented on #280
I went with using containers and AWS lambda instead of the ZIP since I already had the whole container building workflow setup in our repo

[2022-03-30 21:19] njlr commented on #280
Thanks for your help.

Unfortunately I ran into 2 issues:
 1. `pkg_zip` does not have an `include_runfiles` argument
 2. using `pkg_tar`, the set of runfiles seems to be too big, e.g. `System.Collections.dll` should not be included as that is provided by AWS Lambda

[2022-04-10 19:17] andwak opened #281 "Is it possible to debug in VS Code using Dev Containers?"
Hi,

I have setup a project and the Bazel build works well. Bazel run also works.
I can create a debug build with the option '-c dbg' and attach to the executing process.

However, whenever I try to debug code I have written, VS code does not find the .cs file.
My assumption is, that I need to tell the compiler where the source code can be found.

I have had no success with 'sourceFileMap' in the

[2022-04-22 18:19] andwak commented on #281
I carried out further investigation.

Bazel dotnet rules create a .param file containing the parameters for the csc.exe compilation call.
I no longer suspect this is related to /fullpaths (GenerateFullPaths) configurations (I added this property in a test branch).

When VS Code prompts to create the "file that is not found" and I manually replace this file with the source code file content, I can

[2022-04-22 18:29] andwak commented on #281
I managed to debug using the flag "--sandbox_debug"

[2022-04-22 18:29] #281 closed

[2022-04-22 18:31] andwak commented on #228
I also ran into a similar issue.
For me using the "--sandbox_debug" flag allowed me to debug as expected. Not sure if it will solve your use case.
See https://github.com/bazelbuild/rules_dotnet/issues/281

[2022-04-25 10:31] damienpontifex commented on #54
Is .NET Framework supported still? (e.g. net48)

Looking at https://github.com/bazelbuild/rules_dotnet/blob/master/dotnet/platform/list.bzl for supported frameworks it doesn't appear to be, but it could be specified elsewhere I've missed.

[2022-04-25 10:36] damienpontifex commented on #54
Never mind, I can see they were dropped in https://github.com/bazelbuild/rules_dotnet/pull/208

[2022-04-29 08:27] oakad commented on #260
Regarding the msbuild/csc issue: things likes ASP.NET/Blazor are critical part of modern dotnet ecosystem. Those rely on special code generators invoked by msbuild via custom built-in rules. Moreover, there are plenty of third-party/user developed msbuild extensions addressing various needs. To make things even worse, msbuild supports inline c# code as part of the rule definition and this weird fe

[2022-04-29 08:58] tomdegoede commented on #260
@oakad I understand your reasoning but I must disagree. To fully benefit from a Bazel build these features need to be re-considered individually for caching, determinism etc. The performance overhead of keeping msbuild in the cycle is simply too expensive for us as well. I don't see a point in keeping two highly configurable build orchestrators in our flow.

[2022-05-01 10:56] oakad commented on #260
It's not about individual preferences, but about the state of dotnet ecosystem. I, personally, haven't seen a single largish dotnet application which was just a bunch of c# files. No such thing in nature. There's always some XAML component, or Blazor, or T4 of some sort. By saying that rules_dotnet are only going to support compilation of c# files and that's it, you're basically saying that rules_

[2022-05-01 15:06] njlr commented on #260
My perspective as (primarily) an F# developer is a little different. My ideal scenario would be this:

 - Bazel build description acts as ultimate source-of-truth
 - Bazel rules do not leverage MS Build
 - MS Build functionality like `dotnet publish` is reimplemented in Bazel rules
 - Generate the Nuget packages `WORKSPACE` section from a `paket.lock` (for C# projects it probably make sense to use

[2022-05-01 18:28] purkhusid commented on #260
I do not agree that .Net Bazel rules would have to wrap msbuild to be useful.
I also don't think that it's realistic that these here rules will support every workload that .Net supports but they can be structured in a way that it would be easy to interop (e.g. via [providers](https://bazel.build/rules/lib/Provider)) with other rules that might have a more specific use case.

@tomdegoede  is workin

[2022-05-15 14:08] purkhusid commented on #275
I added Paket support to the `next` branch. This was a good way to verify that the current NuGet rules could be set up with their transitive dependencies correct. The NuGet rules might change a bit once @tomdegoede finishes his version that uses a NuGet lock file and we port it to this repo.

Next week I'm going to see if I can run our internal monorepo using the rules that we have on the `next` b

[2022-05-24 17:48] a4z opened #287 "potential buffer overflow in dotnet/tools/common/manifest.c"
We compile with all warnings enabled, and warnings as error

For this line , https://github.com/bazelbuild/rules_dotnet/blob/66a708c64da9126c640b7ca62f03357740d06ea4/dotnet/tools/common/manifest.c#L438, we get an clang compilation error due to a warning

[code]

I think the compiler is right, please see https://godbolt.org/z/jjPP96Pzs for a short example

[2022-05-24 18:29] #287 closed

[2022-06-15 09:08] purkhusid commented on #280
@njlr Sorry, I forgot to respond to you and was going through the issues now.

Regarding the runfiles list being too large then I think I'll try to find a way to have 2 different `fsharp/csharp_binary` rules where one behaves like `dotnet publish -r <os-arch>` which would include the runtime and the other one would not include the runtime.

I don't think I'll add it to the `master` branch but the

[2022-06-15 09:10] purkhusid commented on #279
@njlr We are almost done with a new Nuget tool that supports the newish NuGet lock file and also a Paket tool that supports parsing paket.dependencies/paket.lock

The work is being done on the `next` branch if you want to follow the work being done.

[2022-06-15 09:11] purkhusid commented on #278
I'm hoping that the improved NuGet support on the `next` branch will handle all these issues.

[2022-06-20 20:08] epickrram opened #291 "`nuget2bazel` package source authentication"
Hi folks,
thanks for the great work so far.

I am using the latest version from master, but having issues consuming packages from a custom nuget source.

The feed is hosted by a 3rd party, and requires authentication. When I try to use `nuget2bazel` (as per the docs [here](https://github.com/bazelbuild/rules_dotnet/blob/master/docs/nuget2bazel.md#the-tool)), I get an authorization error:

[code]

[2022-06-20 20:53] njlr commented on #280
Thanks @purkhusid.

I was thinking a design like this could work well:

[code]

[2022-06-20 20:58] purkhusid commented on #291
@epickrram Thanks for flagging this! Currently there is no way to add authentication on the `master` branch.

The current `nuget2bazel` tool will be deprecated when the `next` branch will be merged into `master` in favour of either `paket2bazel` which will work well if you are already using Paket(https://fsprojects.github.io/Paket/) or a new `nuget` tool that was recently added to the `next` branc

[2022-06-21 07:49] tomdegoede commented on #291
@epickrram you could try adding the credentials to nuget.config using packageSourceCredentials. I'm not sure however if the nuget2bazel implementation in master consumes the nuget config by default.

[2022-06-21 08:47] epickrram commented on #291
@purkhusid @tomdegoede thank you for the responses; I'll try out those suggestions.

[2022-06-21 08:47] #291 closed

[2022-07-05 08:18] njlr commented on #239
I made a start on this here: https://github.com/njlr/bazel2proj

There is still lots to do, but it works for the examples in the repo.

Long term I think it would be best to bring the tool into here?

[2022-07-06 10:46] purkhusid commented on #239
Nice! It's definitely on the roadmap to ass BUILD/csproj/fsproj generation. I'll take a look at this once I'm off vacation.

[2022-07-09 15:52] njlr opened #294 "[Next] Allow targets to have the same name as a package"
**Update**

The issue is caused by a Paket package and an `fsharp_binary` sharing a name (`"expecto"`). This is easy to work-around (just rename), but it should be possible with the same name.

---

_Note I am experimenting with the `next` branch:_

[code]

I have defined a test executable like this:

[code]

When I run this target, I get an assembly load error:

[code]

Full repro is here: https:

[2022-07-10 17:15] njlr commented on #294
Yep, it renaming works. Thank you!

I have renamed the title of this issue to reflect the real issue.

[2022-07-11 09:30] tomdegoede commented on #294
Just wanted to say thanks for experimenting with the next branch @njlr !

[2022-07-12 22:52] njlr opened #296 "[Next] Non-determinism in fsharp_binary or runfiles?"
When I build a `tar` from an `fsharp_binary`, I find that the hash keeps changing:

[code]

---

`BUILD.bazel`

[code]

`WORKSPACE`

[code]

---

[code]

[2022-07-13 01:32] purkhusid commented on #296
Do you have an exact reproduction of this in some public repo? I can't reproduce this by just adding an fsharp_binary to a  pkg_tar.
Also, what OS are you using?

[2022-07-13 10:48] purkhusid commented on #296
Also, could you try updating to Bazel 5.2? There were some cache invalidation bugs fixed in transitions that might be affecting this.

[2022-07-13 19:35] njlr opened #297 "[Next] Expecto cannot find method implementation from a dependency"
Probably easiest to just see this repo: https://github.com/njlr/bazel-expecto-repro

Basically I have a `netstandard2.1` library that I am testing using a `net6.0` binary.

The code builds with Bazel and the tests pass with MS Build.

[code]

However, running the test (`bazel test //...`) with Bazel gives a run-time error with Expecto tests:

[code]

Maybe I'm just missing something simple though?

[2022-07-13 21:14] njlr commented on #296
Unfortunately bumping to `5.2.0` did not fix things for me.

I am on Ubuntu:

[code]

[2022-07-13 21:26] njlr commented on #296
This has a stable hash, so I think it is `rules_dotnet`:

[code]

[2022-07-14 07:50] purkhusid commented on #296
Could you diff the contents of the tar files and see what files are different? Or if you have an repository with the code I can take a look at that as well. I can't reproduce this with the examples we have in the rules_dotnet repo.

[2022-07-15 17:03] njlr commented on #296
![Screenshot 2022-07-15 at 18-02-22 bundle 1 to 2 changes report](https://user-images.githubusercontent.com/1577531/179272843-a94e2173-09a1-4c49-a086-1d7c7d04677d.png)

![Screenshot 2022-07-15 at 18-02-35 bundle 1 to 2 changes report](https://user-images.githubusercontent.com/1577531/179272826-8b827358-496b-465e-bd79-ee04445b0686.png)

[2022-07-15 17:05] purkhusid commented on #296
Thanks, I'll take a look at this!

[2022-07-21 18:46] njlr opened #298 "Question: is there a way to use the `dotnet` executable"
The context is to be able to execute pre-built assemblies with `dotnet`.

I noticed a substitution variable here:

https://github.com/bazelbuild/rules_dotnet/blob/5c95c346d2b362d56eeada72bdf9d42395eae405/dotnet/toolchain.bzl#L91

Is there an example of how to use it, e.g. in a `genrule`?

[2022-07-21 20:06] njlr commented on #298
Some progress...

[code]

[code]

[2022-07-21 20:06] tomdegoede commented on #298
We do something similar in our private repository by just invoking `bazel run @core_sdk//:dotnet.exe` commands. I'm not sure where it'll be located for you but I'm sure you should be able to do the same. Probably there will be an external repo for your current platform such as `dotnet_x86_64-pc-windows-msvc`, but we could simply expose a .sh and .bat file to proxy it via a more generic name.

[2022-07-21 20:08] tomdegoede commented on #298
Do you want to use dotnet.exe from within a bazel action or just from the commandline? From your genrule example I think the latter, in which case you could look into importing the prebuilt binaries as a rules_dotnet executable.

[2022-07-21 20:10] tomdegoede commented on #298
I think we are missing an import_binary rule here https://github.com/bazelbuild/rules_dotnet/blob/next/dotnet/private/rules/imports.bzl

[2022-08-03 16:55] njlr opened #300 "[Next] NuGet rules do not yet handle the runtimes folder"
Probably easiest to see the repro here: https://github.com/njlr/rules-dotnet-issue-native

Basically a Nuget package with native code (`MonoGame.Framework.DesktopGL`) does not get linked in correctly:

[code]

[2022-08-03 20:45] purkhusid commented on #300
@njlr This is known issue with the `next` branch. The new NuGet handling is not yet handling the `runtimes` folder. I'm planning on fixing this soon since I need this to be able to start using the `next` branch with my work monorepo.

I'm currently working on some dependency resolution fixing in the `next` branch and this was the next item I was going to tackle.

[2022-08-03 20:55] njlr commented on #300
That's great to hear! I will give it a try once it's ready.

Is this issue a dupe then?

[2022-08-03 20:56] purkhusid commented on #300
No, let's keep this open to track this.

[2022-08-05 10:59] purkhusid commented on #14
Cleaning up. Going to close this for now since Mono is out of scope at the moment.

[2022-08-05 10:59] #14 closed

[2022-08-05 11:06] purkhusid commented on #279
Going to close this since nuget2bazel will be deprecated when the `next` branch is merged.

[2022-08-05 11:06] #279 closed

[2022-08-05 11:07] purkhusid commented on #278
Going to close this since `nuget2bazel` will be deprecated when the `next` branch is merged.

[2022-08-05 11:07] #278 closed

[2022-08-05 11:08] purkhusid commented on #269
Going to close this since we are not going to be improving `nuget2bazel` and the `next` branch includes a more robust successor

[2022-08-05 11:08] #269 closed

[2022-08-05 11:17] purkhusid commented on #265
We no longer depend on the C toolchain on the `next` branch. Going to close this.

[2022-08-05 11:17] #265 closed

[2022-08-05 11:19] purkhusid commented on #255
MacOS Arm is now both supported on `master` and the WIP `next` branch.

[2022-08-05 11:19] #255 closed

[2022-08-05 11:24] #254 closed

[2022-08-05 11:25] #252 closed

[2022-08-05 11:28] purkhusid commented on #249
We are currently working on a big refactor of the rules on the `next` branch and once that is done I think adding Razor/Blazor support shouldn't be that hard. I'm not sure if I'll be able to do it myself since I use neither but we would definitely help guiding/reviewing any contributions!

Keeping this open as a tracking issue for Blazor/Razor

[2022-08-05 11:29] purkhusid commented on #248
I think adding support for this in the `next` branch should be a small task. Keeping this open for tracking this.

[2022-08-05 11:30] #246 closed

[2022-08-05 11:30] #239 closed

[2022-08-05 11:30] #237 closed

[2022-08-05 11:31] purkhusid commented on #235
We added a runfiles library in the `next` branch with examples. Closing this.

[2022-08-05 11:31] #235 closed

[2022-08-05 12:40] purkhusid commented on #152
Duplicate of #258. Closing

[2022-08-05 12:40] #152 closed

[2022-08-05 12:41] purkhusid commented on #197
We are redoing the NuGet handling on the `next` branch. Closing.

[2022-08-05 12:41] #197 closed

[2022-08-05 12:43] purkhusid commented on #234
NuGet handling is being revamped on the `next` branch. Closing

[2022-08-05 12:43] #234 closed

[2022-08-05 12:43] purkhusid commented on #233
`nuget2bazel` will be depracated when we merge the `next` branch. Closing

[2022-08-05 12:43] #233 closed

[2022-08-05 12:44] purkhusid commented on #229
`nuget2bazel` will be deprecated when we merge the `next` branch. Closing

[2022-08-05 12:44] #229 closed

[2022-08-05 12:45] purkhusid commented on #225
These flags will be removed when we merge the `next` branch. I'm going to change this issue to track updating rules-proto-grpc once the `next` branch has been merged

[2022-08-05 12:47] purkhusid commented on #220
`nuget2bazel` will be deprecated once the `next` branch is merged. Closing.

[2022-08-05 12:47] #220 closed

[2022-08-05 12:48] purkhusid commented on #201
A runfiles library with examples has been added to the `next` branch.

[2022-08-05 12:48] #201 closed

[2022-08-05 12:50] purkhusid commented on #12
Duplicate of #258. Closing

[2022-08-05 12:50] #12 closed

[2022-08-06 08:49] oakad commented on #249
The problem with blazor (as described in another issue thread) is tight integration of blazor code generator with msbuild. I have opened an issue regarding decoupling those: code generator, after all, is a separate, albeit totally undocumented binary. Alas, they don't want to do it, as they believe their code generators to be an "implementation detail" of a general, msbuild based system.

To this

[2022-08-06 08:55] purkhusid commented on #249
@oakad Interesting, can you link to the issue you mentioned?

[2022-08-06 09:17] oakad commented on #249
This one: #260  :-)

[2022-08-06 09:21] oakad commented on #249
https://github.com/dotnet/aspnetcore/issues/35180

My attempt at getting some docs.

[2022-08-08 13:43] purkhusid opened #302 "[Next] Transitive dependency TFM selection"
Currently the `next` branch does not resolve dependencies in the exact same way as MSBuild.

The exact case that is not resolved the same way is the following:
[code]
MSBuild does the following:
* LibA is build for TFM net6.0
* LibB is built for TFM netstandard2.1
* LibC is built for TFM netstandard2.1 to fulfil the LibB -> LibC dependency
* LibC is built for TFM net6.0 because LibC is a transitiv

[2022-08-23 19:26] purkhusid commented on #298
This should work but you also need to add
[code]

[2022-08-23 19:26] purkhusid commented on #298
This should work but you also need to add
[code]

[2022-08-28 20:35] njlr commented on #300
Works when using the branch in [this PR](https://github.com/bazelbuild/rules_dotnet/pull/303):

https://github.com/njlr/rules-dotnet-issue-native/tree/fix

[2022-08-31 15:02] purkhusid commented on #300
This has now been fixed on  the `next` branch

[2022-08-31 15:02] #300 closed

[2022-08-31 15:02] purkhusid commented on #298
@njlr Did you get this to work? Going to close this issue if the template variables worked as expected.

[2022-08-31 15:03] purkhusid commented on #297
This has been fixed on the `next` branch

[2022-08-31 15:03] #297 closed

[2022-08-31 15:05] purkhusid commented on #280
There is now an `publish_binary` rule on the `next` branch that can publish self contained and framework dependent binaries.
Examples are in the `examples` folder.

[2022-08-31 15:05] #280 closed

[2022-08-31 15:08] purkhusid commented on #256
This is now possible on the `next` branch. It can be configured via config settings for global configuration or per target.
The documentation is still not ready but it's the `treat_warnings_as_errors`, `warnings_as_errors`, `warnings_not_as_errors` attributes that can be used to configure this and then the `@rules_dotnet//dotnet/settings:<treat_warnings_as_errors/warnings_as_errors/warnings_not_as

[2022-08-31 15:10] purkhusid commented on #256
I was too quick closing this since we don't allow setting arbitrary compiler flags. I'm not sure if and how we would implement that since a lot of the compiler flags have to be correctly configured just so the build works and allowing arbitrary flags could lead to hard to debug errrors.

[2022-08-31 17:23] njlr commented on #296
I updated the repo to the latest `next` but unfortunately the issue persists.

You can see the diff report here: https://github.com/njlr/rules-dotnet-issue-296/actions/runs/2965784764

[2022-09-01 10:29] purkhusid commented on #296
Ok, can you try one more thing? Can you make sure that you have the `--incompatible_strict_action_env`flag set? If that does not fix anything I'll take a look as soon as I can.

[2022-09-01 17:01] njlr commented on #296
Like this?

[code]

[2022-09-08 14:08] njlr opened #305 "[Next] F# scripts?"
It would be nice to wrap F# scripts (`.fsx` files) in a Bazel target so that they can be run with Bazel, included as tools in `sh_binary` targets, etc.

Perhaps something like this?

[code]

Then to run:

[code]

Scripts can depend on other scripts, so there should probably be a `deps` list.

[code]

To mimic `sh_binary`:

[code]

[2022-09-08 17:05] superNodeman opened #306 "Creating Releases"
I wanted to ask if there are any short term plans or abilities to create releases for rules_dotnet? I think this may have been alluded to in the conversations in #260? We would like to use this for our bazel builds at work but we use artifactory for our external dependencies and other projects like rules_java have releases that we can pull down through their releases. There may be another way for

[2022-09-08 19:24] purkhusid commented on #306
The plan is to start cutting releases once the `next` branch has been merged. I've got some of the infrastructure already but we still have a few things to clean up before I feel comfortable merging the branch. We'll probably continue with 0.x releases for a while since it can take some time for the public part of the rules to become stable.

[2022-09-15 15:13] purkhusid commented on #296
I figured out what the issue is. There are absolute paths embedded into the DLLs. We need to use the --pathmap compiler option to make the paths relative and thus deterministic.

It will probably require a wrapper around the compilers because we would not want to add the execroot as an input into the action because that would make the caches not shareable. If we create an wrapper that looks up the

[2022-09-15 16:04] njlr commented on #296
When I run the build multiple times and check the hash, the paths have not been change though?

[2022-09-15 18:59] purkhusid commented on #296
The exec root changes when you do `bazel clean`. The reason for me not being able to reproduce this earlier is that in my bazelrc file I had
[code]
Which makes it so that the execroot does not change between `bazel clean`

[2022-09-16 07:11] tomdegoede commented on #296
We have the pathmap functionality implemented in our internal setup mainly for remote caching. The multiplex compiler server does it. I think we can look into migrating that.

[2022-09-24 10:09] njlr opened #308 "[Next] Incorrect hashes for Nuget packages"
Full repro here: https://github.com/njlr/rules-dotnet-issue-nuget-hashes

The build fails at the Nuget fetch stage:

[code]

Significant part:

450a40f94a48e9396979e764e494ad624d8333f3378b91ea69b23fc836df8f5c43bbd6c8cfd91da2ab95a476e1ff042338968e09b720447f2241c014bfc75159

And the `paket.dependencies` file:

[code]

[code]

[2022-10-05 16:31] njlr commented on #308
I did a fresh checkout, `bazel clean` etc.

Some strange behaviour...

[code]

So basically it works if you keep trying. Is there some kind of race condition?

[2022-10-08 08:22] kzaher opened #310 "dotnet integration grpc example fails"
STR
[code]

[code]

[2022-10-11 17:19] #310 closed

[2022-11-09 23:01] njlr opened #315 "[Next] Expose F# source files as a provider?"
I have been investigating the feasibility of [Fable](https://fable.io/) rules (https://github.com/bazelbuild/rules_dotnet/issues/236) that can consume `fsharp_library` targets as `deps`.

The motivation for this is that the user will not have to define their library targets twice to support .NET and Fable.

[code]

Fable requires the source-files (`.fs`, `.fsi`) of all dependencies to compile. How

[2022-11-10 08:58] purkhusid commented on #315
I think having a separate provider with the compilation parameters would not be a bad idea. It could also be used in e.g. a rule that generates csproj/fsproj files. Maybe a `DotnetCompileInfo` ? I'm currently on paternal leave so I don't have much time for contributions at the moment but I could review a PR if you want to contribute this addition?

[2022-11-12 18:21] njlr commented on #315
This PR is different but related - it exposes the files inside Nuget packages: https://github.com/bazelbuild/rules_dotnet/pull/316

[2022-11-17 16:52] Dragnalith commented on #260
I am coming after the battle but I would like to support the point of view of @oakad

The .Net ecosystem is more than a C# compiler and nuget package manager.

To make bazel handle all .Net capabilities, it's important to also consider WPF, ASP.Net, .Net MAUI kind of projects and feature like "publish self-contained" and "publish trimmed".

It's not a matter of should we or can we avoid using msbu

[2022-11-30 21:33] njlr opened #317 "[Next] binary target is missing from deps.json in publish_binary output"
The [deps.json spec](https://github.com/dotnet/sdk/blob/main/documentation/specs/runtime-configuration-file.md) shows `MyApp` in the `libraries` and `targets` dictionaries.

e.g.

[code]

and

[code]

However, the output of `publish_binary` does not have these entries.

This is an issue for services that consume deps.json, such as AWS Lambda.

[2022-11-30 21:39] purkhusid commented on #317
This is strange, maybe there is an regression in some recent change. I'm currently using the next branch with AWS Lambda and everything is working fine but I'm not using the latest `next` branch yet. I'll take a look as soon as possible.

[2022-11-30 22:26] njlr commented on #317
In case it helps:

[code]